[2021-05-26 01:36] angeloashmore commented on #332
Hey @michaeljblum, you can use Gatsby V3 on `gatsby-source-prismic` V3. If you use npm, you will most likely need to use the `--legacy-peer-deps` in order to install the plugin due to peer dependency version mismatches.

`gatsby-source-prismic` V3 does not have a support for `gatsby-plugin-image` using Imgix, but you can use it with an image's `localFile` field and `gatsby-transformer-sharp`.

V4

[2021-05-26 03:14] angeloashmore commented on #339
See here: https://github.com/angeloashmore/gatsby-source-prismic/blob/beta/ARCHITECTURE.md

[2021-05-26 03:14] #339 closed

[2021-05-26 04:06] michaeljblum commented on #332
Thanks so much for the swift reply @angeloashmore. I'll go ahead and upgrade to GSP v3 when I next have enough free time so I can bump up to v3 of Gatsby, thanks.

[2021-05-26 04:08] angeloashmore commented on #332
Awesome! Good luck, and feel free to open an issue here or post on the Prismic forum if you have questions.

[2021-05-26 22:05] angeloashmore opened #377 "Gatsby + Prismic V4 Public Beta"
Hey everyone!

# 🎉 The Gatsby + Prismic integration is being updated! 🎉

I'm excited to have everyone try it out in its current **beta** version and get your feedback.

A comprehensive list of new features and fixes is available here: ["What has changed?" on GitHub](https://github.com/angeloashmore/gatsby-source-prismic/blob/beta/packages/gatsby-source-prismic/docs/migrating-from-v3-to-v4.md#what-

[2021-05-26 22:07] angeloashmore commented on #307
Thank you for the feedback everyone! V4 is now in public beta so I will be closing this RFC.

If you have any follow up comments, please check out the V4 Public Beta issue linked below.

[**Gatsby + Prismic V4 Public Beta**](https://github.com/angeloashmore/gatsby-source-prismic/issues/377)

[2021-05-26 22:07] #307 closed

[2021-05-27 04:15] tjjjwxzq opened #378 "GraphQL queries run in previews don't seem to be honouring GraphQL aliases or schema customization"
I've been having quite a bit of trouble getting previews to work smoothly, and I notice they keep breaking because certain data fields, that are queried perfectly fine when the component is loaded normally (ie. not through preview), seem to become undefined and blow-up the preview.

For eg.: I see this in preview mode, but it renders fine normally:
<img width="1096" alt="image" src="https://user-i

[2021-05-27 11:40] jodiedoubleday opened #379 "V4 - Link Resolver"
So far moving over to the new version has been fairly simple, with a few flipping between different doc (I'm looking at you gatsby-image) but all in all it's going smoothly...

Having a few issues with the link resolver though, while trying out the beta, pretty sure it's user error here...

**_gatsby-config.js_**
[code]

**_src/utils/linkResolver.js_**
[code]

**_Error_**
[code]

anyone able to he

[2021-05-27 14:05] jodiedoubleday commented on #378
I'm trying to find the issue where this was mentioned but previews don't support aliases.
I believe this is because this plugin uses the RestAPI and uses that for previews so has no knowledge of the aliases you have made.
This may be fixed in v4 potentially.

[2021-05-27 14:07] jodiedoubleday commented on #370
Thank you @angeloashmore

Trying to use localfile images dies (i think because there are so many images) so I'll investigate a few more options and will definitely be moving videos until I can move to V4 🎉

[2021-05-28 00:56] tjjjwxzq commented on #378
Thanks @jodiedoubleday for the response. I guess aliases aren't too big an issue for me since they can be circumvented easily with a separate mapping function to transform the query data.

But the null data with the customized schema worries me, there isn't an elegant workaround for that other than bringing the join operation into runtime code, which I'd rather avoid.

[2021-05-28 01:20] angeloashmore commented on #378
Thanks @jodiedoubleday, that's correct. Field aliasing won't work during previews since the GraphQL server Gatsby uses during development/build time is no longer there.

This document explains some of the preview limitations. It is written for the upcoming V4 release, but still applies to V3.
https://github.com/angeloashmore/gatsby-source-prismic/blob/beta/packages/gatsby-plugin-prismic-previews/d

[2021-05-28 01:29] angeloashmore commented on #379
Hey @jodiedoubleday, thanks for giving the V4 beta a try. Glad to hear it's mostly going smoothly. There are a couple of things to change here:

**Link Resolver and HTML Serializer functions no longer need the extra `() =>`**
https://github.com/angeloashmore/gatsby-source-prismic/blob/beta/packages/gatsby-source-prismic/docs/migrating-from-v3-to-v4.md#remove-field-data-from-link-resolver-and-html-

[2021-05-28 01:29] #379 closed

[2021-05-28 01:34] angeloashmore commented on #370
Yeah, processing images locally is very computationally expensive. If you're running into issues with it downloading or erroring, please let me know. If it's a matter of it taking too long to process, there isn't much we can do here except recommend using Imgix (at the expense of more bandwidth usage).

I'm going to close this issue, but we can continue the discussion here, or feel free to open a

[2021-05-28 01:34] #370 closed

[2021-05-28 07:50] cometkim commented on #377
First of all, thank for your awesome work @angeloashmore

I'm trying to migrate projects using v3. Most of features are working fine, and the localFile resolver with remove fallback & graphql-plugin-image support is really great!

The only problem is the preview integration. Following the guide, I specified `repositoryName` (which is a public repo named `karrot`) in gatsby-config and HoCs, but I k

[2021-05-28 07:56] tjjjwxzq commented on #378
Thanks @angeloashmore for the detailed response and suggested workarounds! Still getting to grips with GraphQL so didn't realize the foreign key join could be approached that way. Will give it a shot and update and close this issue if all goes well, for any others who struggle with the same problems.

[2021-05-28 13:44] cometkim commented on #377
Instead of having to enter an empty schema for all custom types, it would be better to put in the default values.

In my organization, I'm using a single repository and sharing content schema with many projects,  in the process of people working together, there are a lot of schema additions/deletions, and if content is updated in the meantime, the build breaks unintentionally.

[2021-05-28 18:43] angeloashmore opened #380 "Previews do not load in Brave Browser"
When using Brave Browser, previews do not load. This may be a result of the Prismic toolbar being blocked by Brave. Since the toolbar is not there, the cookie is not properly set, which means the plugin does not know a preview is active.

Requires some extra investigating.

[2021-05-28 19:58] angeloashmore opened #381 "Make GraphQL fields non-nullable where possible"
Most fields are left nullable for the best compatibility with data coming from the Prismic API. There are some fields, however, that we know will always contain a value.

For example, a StructuredText field will always have `html` and `text` values as `String!`, even if they compute to empty strings.

See comments from @cometkim here: https://github.com/angeloashmore/gatsby-source-prismic/issues/3

[2021-05-28 20:00] angeloashmore opened #382 "Update image fragments"
They may not be compatible with the updated type names.

[2021-05-28 20:06] angeloashmore commented on #377
Hey @cometkim, thanks for the detailed diagnosis.

I'll answer each of your points below:

---

**1. Preview integration error ("repository could not be found")**

Could you perform this step in your app?

https://github.com/angeloashmore/gatsby-source-prismic/blob/beta/packages/gatsby-plugin-prismic-previews/docs/migrating-from-gatsby-source-prismic.md#update-gatsby-browserjs-and-gatsby-ssrjs-fil

[2021-05-29 17:47] tjjjwxzq commented on #378
Alright, I've got previews to work by removing GraphQL aliases through:

1. Transforming the data via a separate data
2. Splitting a query for which the above wouldn't work (I needed to query the same field with two different parameters) out into separate `useStaticQuery` calls in two separte hooks files which I then imported and used in my component

And following the recommended approach of quer

[2021-05-29 17:47] #378 closed

[2021-05-30 13:08] cometkim commented on #377
or we can provide a plugin option to downgrade it to warninig and keep default to panic on build.

By writing codes as type-safe much as possible, and I can notice problems when previewing instead of breaking the build.

[2021-05-30 13:27] cometkim opened #383 "[v4] preview failed on custom types named with dashes"
the error:

[code]

`gatsby-config.js`:

[code]

Even my project doesn't use `mbti-test-result` type, I cannot enable preview this error.

[2021-05-30 13:31] cometkim opened #384 "[v4] A configuration object could not be found"
the error:
[code]

`gatsby-config.js`

[code]

wrapRootElement (both `gatsby-browser.jsx` and `gatsby-ssr.jsx`)

[code]

the preview resolver page

[code]

[2021-05-30 13:35] cometkim commented on #384
the preview page is working as expected, redirect user to target page, provide the merged data into page.

[2021-05-30 16:27] cometkim commented on #381
- boolean
- list and list item
- data field of custom type
- body field of custom type
- primary field of slices
- `localFile` field of image (since v4)

and

[code]

[2021-05-31 06:53] cometkim opened #385 "[v4] build failed on Gatsby Cloud"
![image](https://user-images.githubusercontent.com/9696352/120152276-3f374800-c228-11eb-9f45-db99301e4b11.png)

It seems Gatsby Cloud use pretty old version of nodejs 😅

[2021-05-31 07:24] cometkim commented on #385
replace `import fs from 'fs/promises'` by `import { promises: fs } from 'fs'` is fine

[2021-05-31 10:05] cometkim commented on #381
There will be conflict issue when making primary fields as non-nullable.
[code]

We can narrow down it to additional nested type to avoid duck typing issue.

[2021-05-31 20:42] angeloashmore commented on #378
Great! Yes, adding this to the limitations document is a good idea. I'll open an issue to make sure it's updated.

[2021-05-31 20:43] angeloashmore opened #387 "Add GraphQL schema customizations to preview limitations docs"
See: https://github.com/angeloashmore/gatsby-source-prismic/issues/378#issuecomment-850871887

[2021-06-01 01:01] angeloashmore commented on #382
Fixed in 0ebf59e308830611377c4b4aa661f7b699d7e54d.

Published in `4.0.0-beta.10`.

[2021-06-01 01:01] #382 closed

[2021-06-01 01:28] angeloashmore commented on #383
Fixed in 0239cd28b42f0ad9717fecd171af9ee106cf8471, published in `v4.0.0-beta.11`.

Custom types with dashes should actually be okay. In this case, the error occurs due to the fact that the Custom Type doesn't have any fields (i.e. the `data` field will be `{}`). Your Custom Type most likely does have fields in Prismic, but because you provided `{}` in the `schemas` option, the plugin doesn't know

[2021-06-01 01:28] #383 closed

[2021-06-01 01:31] angeloashmore commented on #384
@cometkim Are you saying the preview works normally, but an error is printed to the log? Can you confirm which version of the plugin you are using (the latest is `4.0.0-beta.11` as of this comment)?

Thanks!

[2021-06-01 01:35] angeloashmore commented on #385
Oops! Thanks for sharing that.

Fixed in e120087f47a36bc24ea2d85b3fa714fcc0a23a9e, published in `v4.0.0-beta.12`.

[2021-06-01 01:35] #385 closed

[2021-06-01 01:43] angeloashmore commented on #387
Fixed in 18a2e32e6e087bf3f1fb77fe7eb2f6cf27ba9a2b

[2021-06-01 01:43] #387 closed

[2021-06-01 13:44] emrysgraefe opened #388 "Netlify build fails: Cannot find module 'fs/promises'"
Works locally with gatsby develop or gatsby build. Fails on Netlify.

[Link to repo.](https://github.com/emrysgraefe/gatsby-prismic-multilingual)

9:36:17 AM: Build ready to start
9:36:19 AM: build-image version: 0582042f4fc261adc7bd8333f34884959c577302
9:36:19 AM: build-image tag: v3.7.6
9:36:19 AM: buildbot version: 0e23307adb9080898b837c5147a17e2f7890cb10
9:36:19 AM: Fetching cached dependencie

[2021-06-01 13:51] emrysgraefe commented on #388
Remedied by using specifying Node v14.15.4. Maybe add this to the documentation?

[2021-06-01 18:17] greatwitenorth commented on #384
I'm seeing the same following error:

<img width="1015" alt="Screen Shot 2021-06-01 at 1 08 13 PM" src="https://user-images.githubusercontent.com/547583/120370636-77975e80-c2da-11eb-9858-03c1bc013439.png">

This appears to be happening on all previews whether they are published or drafts. The preview page only says loading, then displays the error.

This is what I'm seeing in the console:
<img wid

[2021-06-02 03:57] angeloashmore commented on #388
Hey @emrysgraefe, thanks for reporting this. This issue was fixed in `v4.0.0-beta.12`. Could you upgrade to the latest version and try it again?

[2021-06-02 03:57] #388 closed

[2021-06-02 08:56] jodiedoubleday commented on #384
I'm also seeing the same error...

<img width="579" alt="Screenshot 2021-06-02 at 09 56 06" src="https://user-images.githubusercontent.com/778942/120450854-c7346380-c388-11eb-9172-0dabca96ff52.png">

[2021-06-02 13:25] emrysgraefe commented on #388
Thanks @angeloashmore, can confirm no issues building on Netlify with the latest version.

[2021-06-03 00:46] angeloashmore commented on #384
FYI, I'm working on this issue but I'm having a hard time reproducing it. If you have any ideas or notice anything strange, please share!

I'll post updates here as I learn more.

[2021-06-03 07:14] cometkim commented on #384
@angeloashmore I will send invite you my working repo

[2021-06-03 07:57] cometkim commented on #384
@angeloashmore I just sent invitation to https://github.com/daangn/websites

And I'm currently working with gatsby-source-prismic beta on https://github.com/daangn/websites/tree/main/team.daangn.com

I can generate a prismic preview link when you needed. at me or DM me on twitter anytime you want.

[2021-06-03 15:59] newadbie opened #389 "Failing processing image - V4"
Hey, i have a issue with v4 gatsby-source-prismic. When i input "gatsby develop" or "gatsby build" i see this error
`Unexpected error value: "failed to process
https://images.prismic.io/my-reponame/db9757c5-4ce1-46e9-8834-ead4d9cbbca8_default_a1f5f3dfbc.png?auto=compress,format\nRequestError: connect
ETIMEDOUT xxx.xxx.xx.xxx:443"`.
I know it is coming from beta version because when i use my curren

[2021-06-03 21:57] angeloashmore commented on #384
Thank you @cometkim! I will take a look and reach out via Twitter if I get stuck.

[2021-06-04 16:45] jodiedoubleday commented on #384
I can also add you to my repo if you need to compare, just give me a shout.

[2021-06-05 19:29] angeloashmore opened #390 "Automatically fetch latest content during development"
Poll for latest master ref and refetch as necessary.

(cc @a-trost)

[2021-06-08 01:05] angeloashmore commented on #384
@cometkim I was able to get previews working in your repo. Thanks for sharing it!

**TL;DR**: @greatwitenorth @jodiedoubleday @cometkim
Can you check that all pages using `withPrismicPreview`, `withPrismicUnpublishedPreview`, and `withPrismicPreviewResolver` have the repository configurations setup correctly?

## The problem

The preview resolver page was working fine. The Link Resolver was return

[2021-06-08 01:13] angeloashmore commented on #389
Hey @newadbie / Zilib,

This error displays when `gatsby-source-filesystem` cannot download the file in time. There are many reasons this could happen (Imgix timing out, local network issues, etc.). Note that using the Imgix fields (i.e. not `localFile`) will prevent this issue.

One solution may be to reduce the number of concurrent downloads `gatsby-source-filesystem` is performing. By default,

[2021-06-08 06:40] tiste commented on #150
Hello @angeloashmore. Thanks again for the work you provide to us.

Is there any way to use that kind of query (e.g. similar) from `gatsby-source-prismic`?
I don't really get the difference between the graphql generated from this lib, and the graphql documentation from Prismic. For instance, how can I do "where" queries?

Thanks.

[2021-06-08 08:40] jrhager84 commented on #90
Is there a Nextjs equivalent of doing this somewhere? Do the same principles apply?

[2021-06-08 19:02] greatwitenorth commented on #384
@angeloashmore Thanks for looking into this. Unfortunately I've gone over my code multiple times and I cannot see any issues in the way I've implemented withPrismicUnpublishedPreview, withPrismicPreviewResolver and withPrismicPreview. They all contain the repository name and relevant configuration. I'm still seeing the same error (I've updated to beta15 as 16 doesn't seem to be available yet on np

[2021-06-08 21:24] angeloashmore commented on #90
Hey @jrhager84, if you are using `getStaticProps` or `getServerSideProps`, you can use `prismic-dom` to convert your Rich Text fields into HTML on the server. This means you are passing an HTML string as a prop to your page component rather than using `prismic-reactjs`. `prismic-dom` and `prismic-reactjs` won't be part of your bundle in that case.

You'll still need a way to display the HTML, whet

[2021-06-09 12:11] tjjjwxzq opened #391 "Error while running the sourceNodes lifecycle when I attempt to change a field type"
This seems like a bug, where `gatsby-source-prismic` throws the following error on build after I changed a field on a custom type in my schema JSON file from key text to rich text. Running `gatsby clean` does not help.

The app builds fine when that field is removed, or reverted to the old type, or simply renamed but with the new type.

`gatsby-source-prismic` v3.3.6

[code]

This is the only chan

[2021-06-09 14:43] jodiedoubleday commented on #384
I've got mine working by changing...
[code]

to

[code]

[2021-06-09 16:36] jodiedoubleday commented on #389
I'm also getting image issues locally, but the URLs from graphwl don't seem correct...
`https://images.prismic.io/juniper-studio/992354f7-58ef-4c4a-962f-494df444c922_mockup-braun.jpg%3Fauto=compress%252Cformat?ixlib=gatsbyFP&auto=compress%2Cformat&fit=max&q=50&w=116&h=77`

removing the `%3Fauto=compress%252Cformat` before the `?` seems to fix it.

[2021-06-09 21:54] angeloashmore commented on #384
@greatwitenorth Thanks, I had a look at the code. Published previews worked fine for me, but I did need to add `_previewable` to the GraphQL queries. Without it, preview content won't be merged.

In `404.js`, however, there was small typo that was causing the red error modal to appear. Note the `repositoryName` casing:

[code]

---

@jodiedoubleday Glad you got it working! In general, I would reco

[2021-06-11 03:36] angeloashmore commented on #389
Hey @jodiedoubleday, can you update to the latest `gatsby-source-prismic` and `gatsby-plugin-prismic-previews` and let me know if that's fixed?

Imgix pushed out an update to their Gatsby plugin which changed the way it processed URLs so I had to change some of the logic here.

[2021-06-11 10:11] jodiedoubleday commented on #389
@angeloashmore works a treat ✅

[2021-06-11 12:59] FagerKod commented on #384
@angeloashmore I'm also having trouble getting these previews to work, followed some instructions in the tutorial and got some help from you earlier with my package.json-versions. Mind taking a look att what I am missing?

https://github.com/FagerKod/prismiclab

[2021-06-11 18:46] angeloashmore commented on #384
Hey @FagerKod, are you getting the same "A configuration object could not be found" error in the red modal?

Everything looks okay in your repository. The only unnecessary part I see is the Prismic toolbar in `Layout.js`. You can remove this as `gatsby-plugin-prismic-previews` will add it for you. This shouldn't be causing the problem, however.

https://github.com/FagerKod/prismiclab/blob/d9d0c835

[2021-06-11 18:50] angeloashmore commented on #391
Hi @tjjjwxzq,

This happens because the documents in your Prismic repository probably are still formatted as Key Text rather than Rich Text. Key Text is returned as a string while Rich Text is an array of objects.

The plugin expects the fields' values to be Rich Text according to the schema and so it converts it to HTML and text. This will throw an error when it is given a string, however.

When

[2021-06-11 18:52] #391 closed

[2021-06-12 01:19] angeloashmore opened #392 "Warn user if CSS file was not imported"

[2021-06-13 16:08] tjjjwxzq commented on #391
Thanks for the explanation! That makes sense...though it's not a very obvious gotcha 🙃

[2021-06-14 06:52] FagerKod commented on #384
@angeloashmore removed the script from Layout, thanks.
Still does not work, adding screen shot.

<img width="1005" alt="Skärmavbild 2021-06-14 kl  08 49 49" src="https://user-images.githubusercontent.com/19273692/121850918-c5a25e00-cced-11eb-93f3-a52a90f1f366.png">

[2021-06-14 07:51] FagerKod commented on #384
Got my stuff working, had to import linkResolver in a correct way e.g
import linkResolver ...
instead of import {linkResolver} ...

Thanks for input @angeloashmore !

[2021-06-14 08:48] benjaminwaterlot opened #393 "[v4] Deleted custom types trigger errors at build time"
Hello @angeloashmore !

### Description

When I `disable`, then `delete` a Custom Type, the build crashes because `gatsby-source-prismic` **still expects its schema to be present**, but the `customTypesApi` doesn't return it anymore.

The result is this error :

<img width="480" alt="Screenshot 2021-06-14 at 10 41 42" src="https://user-images.githubusercontent.com/32556322/121864758-8aa82680-ccfd-

[2021-06-14 13:30] dungle-scrubs opened #394 "Do you offer image links that are not hosted by Imgix?"
It looks like you're using only Imgix images on the customer domain `images.prismic.io`, but we're wondering if this is a feature that can be turned off and instead query non-imgix images that can be used with `@imgix/gatsby`?

These links [don't seem to play well](https://community.prismic.io/t/issues-with-querying-images-field-extension-arguments-must-be-provided-as-an-object/2847) with the plug

[2021-06-14 20:54] angeloashmore commented on #394
Hey @dungle-scrubs, can you describe your use-case a bit more? Do you want to continue using Imgix but without the "imgix.prismic.io" domain?

`gatsby-source-prismic` V3 allows you to use Imgix URLs for `gatsby-image` (not `gatsby-plugin-image`), which includes automatic `srcSet` generation. You can also choose to use the `localFile` field to download the image and serve it from your own host.

`g

[2021-06-14 21:01] angeloashmore commented on #393
Hi @benjaminwaterlot, thank you for trying out the V4 beta!

Although those Custom Types have been deleted, they are still part of your repository's content from a previous point in time. This means `gatsby-source-prismic` is expecting a schema to exist, even if you are not using the custom type anymore.

The plugin allows you to provide an empty schema for these kinds of Custom Types. Taken from

[2021-06-14 21:01] #393 closed

[2021-06-14 21:04] angeloashmore commented on #384
Ah, glad you got it working! I'm learning that exact problem is actually quite common with the Link Resolver function. Maybe there's a better way we can teach how it set up the export/import.

[2021-06-14 21:05] angeloashmore commented on #391
You're welcome! I wish the content would be converted for you automatically in Prismic, but unfortunately that is not how it works right now. That certainly can be confusing, however.

[2021-06-15 04:45] dungle-scrubs commented on #394
Hey @angeloashmore ,

Thanks for the info, and definitely looking forward to v4 :)

To add a bit more context, our entire workflow revolves around sourcing data in such a way that images can be consumed by `gatsby-plugin-image` via the `gatsbyImageData` object, maintaining consistency across all images. When using `@imgix/gatsby`, it allows us to generate `gatsbyImageData` after defining which Gra

[2021-06-15 20:39] angeloashmore commented on #394
Hey @dungle-scrubs, yes, I think that all makes sense to me.

To answer your question directly: No, Prismic does not offer links that not hosted by Imgix (i.e. all Prismic images come from Imgix).

Removing all URL parameters may result in unintended effects. If you use the image cropping feature in Prismic, for example, you will lose that information. Image cropping is done by setting a `rect` UR

[2021-06-16 02:47] angeloashmore opened #395 "Rename Rich Text fields' `raw` field to `richText`"
Rich Text fields currently contain the following fields:

- `html`: Processed by PrismicDOM.asHTML
- `text`: Processed by PrismicDOM.asText
- `raw`: The raw API response (i.e. Rich Text format)

[code]

To be more explicit and systematic, the `raw` field could be renamed to `richText`. This conveys the type of data present in the field. It makes for nicer usage with `prismic-reactjs`'s `<RichText>

[2021-06-16 07:51] benjaminwaterlot opened #396 "[v4] Preview error on some web browsers : `No type for path`"
Hi @angeloashmore,

Thanks for your work on `gatsby-source-prismic`, it's a pleasure to work with :)

I've got a mysterious error on preview mode and would need your help to understand it:

<img width="1992" alt="Screenshot 2021-06-16 at 09 35 42" src="https://user-images.githubusercontent.com/32556322/122178273-b7d41080-ce86-11eb-9dcd-80b08a5dbe0c.png">

## Stack

* Built and deployed on Gatsby C

[2021-06-16 09:23] benjaminwaterlot commented on #396
**Update :**

This error stops showing when we switch browsers for the preview (in my case, from Google Chrome to Firefox), so we're not blocked anymore.

For the record, I tried clearing the cache, cookies and everything with no success ; whereas my colleague didn't even have this problem in the first place.

Therefore this issue is now more of:
* a _feature request to add a more precise error me

[2021-06-16 18:57] angeloashmore commented on #396
Hey @benjaminwaterlot, thanks for the detailed report. This is very helpful!

For some background on the error: The preview plugin reads a file that contains a mapping between your Prismic custom type fields to their type (e.g. "RichText" or "Image"). It does this to re-shape documents from the Prismic API into something that matches the Gatsby GraphQL API. It MD5 hashes the field names to hide yo

[2021-06-17 13:01] benjaminwaterlot commented on #396
Hey @angeloashmore, thanks a lot for your answer.

I already had tried to replicate the error locally (both in `yarn dev` and `yarn build`, and I verified that `NODE_ENV` changes had no impact). So it seems tied with the execution environment on Gatsby Cloud, as strange as it seems.

However, following your answer, I completely **removed the MD5 hashing** (using `patch-package` to remove the `NODE

[2021-06-17 14:03] benjaminwaterlot commented on #396
I think I've got news :D

I found this line in the build :

[code]

So I went to see this JSON file on our deployed website:
https://shinestaging.gatsbyjs.io/static/621f58b4cec4ad92fb044e46727a5683.json

It was **not up-to-date**, and was missing my latest Custom Type, whether the one served on localhost:9000 was up-to-date.
I cleared the cache by doing a force-refresh on this particular URL (a si

[2021-06-23 13:36] dungle-scrubs commented on #394
Thanks, this is just what we need while looking forward to v4.

[2021-06-23 14:41] cometkim opened #397 "[v4] Hide the Prismic Toolbar"
I saw this from v4 docs,

But I don't understand why this became necessary. This is a major blocker to me as I don't want the Toolbar to appear on my site.

[2021-06-23 17:31] theo-ford opened #398 "503 status code at Gatsby develop"
[code]

Keep getting this error when trying to setup a new gatsby / prismic project. GraphiQL is recognising the content fields but not returning any data. Can't seem to get past it when running gatsby develop, having got the configuration working on other projects.

Does anyone have a clue about how to fix it?

[2021-06-23 18:09] angeloashmore commented on #398
Hi @theo-ford, could you run `gatsby info` in your project and post the result here? I'm most interested in the version of `gatsby-source-prismic`.

Thanks!

[2021-06-23 20:24] angeloashmore commented on #397
Hi @cometkim,

The toolbar is necessary to set a preview-specific cookie in the browser. Without this, previews would not be registered as being "active."

It also enables a few features:

- Automatic refreshing when content is saved in Prismic (i.e. "live" preview sessions)
- Share links
- Links to edit documents used on the page

If you want to hide the toolbar from editors, you could use CSS to

[2021-06-23 20:27] angeloashmore commented on #394
Great, glad to hear it's working! I'm going to close this issue but feel free to reply back if you run into issues.

[2021-06-23 20:27] #394 closed

[2021-06-23 20:32] angeloashmore commented on #396
@benjaminwaterlot Sorry for the delayed reply. This is great insight!

Gatsby itself cannot manage how the web server provides cached content/headers, but we can make sure the filename changes anytime a schema is updated. It currently only uses the repository name which is a mistake due to the assumption that the server will properly invalidate the cache (I believe services like Netlify will do th

[2021-06-24 12:59] theo-ford commented on #398
Hi @angeloashmore, thanks for getting back. Please see below:

[code]

[2021-06-24 18:52] angeloashmore commented on #398
Hey @theo-ford, it looks like there was a Prismic API issue yesterday and should be fixed now. Related forum thread: https://community.prismic.io/t/503-error-when-query-api/5926

Are you still experiencing this issue?

[2021-06-28 04:26] cometkim commented on #384
I tried again with the latest version of the plugin and got the same error.

https://github.com/daangn/websites/pull/121

![image](https://user-images.githubusercontent.com/9696352/123580176-3da37480-d814-11eb-846a-632aaccb730a.png)
![image](https://user-images.githubusercontent.com/9696352/123580235-5ad84300-d814-11eb-8073-20a9938b05a8.png)

[2021-06-28 06:08] angeloashmore commented on #384
Hey @cometkim, it looks like your app doesn’t include PrismicPreviewProvider in `gatsby-browser.ts`.

Instructions: https://github.com/angeloashmore/gatsby-source-prismic/tree/beta/packages/gatsby-plugin-prismic-previews#gatsby-browser-and-ssr-files

Can you confirm this is in the app tree and let me know if the issue persists?

[2021-06-28 06:15] cometkim commented on #384
@angeloashmore it is included in a theme I use

https://github.com/daangn/websites/pull/121/files#diff-9502760eb59a5f354737ca6093b53d94e5ea3083d1356b40099ee5b8acf5ea6a

[2021-06-28 06:21] angeloashmore commented on #384
Got it, that makes sense. Can you try adding the provider directly in the site-specific gatsby-browser.ts file to see if it makes a difference? Trying to narrow down where the issue is happening. Thanks 👍

[2021-06-28 07:35] cometkim commented on #384
Oh, sorry @angeloashmore  It was my bad. I just forgot to build my theme on my local 😅

The previewing works fine in the latest version of the plugin. But it seems there's a SSR issue

![image](https://user-images.githubusercontent.com/9696352/123597474-591b7900-d82e-11eb-928f-63e694edb855.png)

The preview HoC doesn't seems to guarantee isomorphic results, the hydration is not work properly and l

[2021-06-28 07:35] cometkim commented on #384
Maybe I can close this and open another issue

[2021-06-28 07:39] cometkim commented on #397
I see. I added a global style to my website

[code]

It would be nice to add docs for this. or we can add an options to supports it behind of a scene

[2021-06-28 07:41] cometkim commented on #397
And since the toolbar is required, it's better to provide a [preconnect directive](https://web.dev/uses-rel-preconnect/) for the prismic toolbar location.

[2021-06-28 13:52] benjaminwaterlot opened #400 "[v4] `gatsbyImageData` graphQL params are not taken into account in preview mode"
Hello @angeloashmore :)

I'm trying to display simple images of authors, coming from Prismic, in a fixed 40px width/height container, but with a relevant `srcSet` for High DPI screens. Setting height/width constraints directly on Prismic does not answer this requirement (it renders blurry images on Retina screens).

When querying for my image in the GraphQL query, I can specify params for the `gat

[2021-06-28 20:44] angeloashmore commented on #396
Hey @benjaminwaterlot, can you try out the latest beta and test for this issue again? `gatsby-plugin-prismic-previews@v4.0.0-beta.19`

I wish I had thought of this sooner, but I changed the fetch function for that JSON file to effectively skip the browser's cache. This should solve the issue. If it doesn't, there's an extra level of ignoring the cache that we can try, but I want to try this versio

[2021-06-28 20:46] angeloashmore commented on #384
Hey @cometkim, no problem! Glad it was an easy fix. Yes, I'll close this issue but if anyone else runs into configuration issues, feel free to post here and I can help.

[2021-06-28 20:46] #384 closed

[2021-06-28 20:48] angeloashmore commented on #398
I'm going to close this issue as it should be resolved but please let me know if this is still ongoing. Thanks!

[2021-06-28 20:48] #398 closed

[2021-06-28 21:01] angeloashmore commented on #400
Hey @benjaminwaterlot,

I tested this in the `test-site` directory of this repository (in the beta branch) and could not get the same result. If I set `width: 50, height: 50` for example, the resulting data sets width to 50 and height to 50.

Could you try running `gatsby clean` to clear the cache and try again? If that does not make a difference, could you try running `npm update @imgix/gatsby` (

[2021-06-28 22:18] #372 closed

[2021-06-28 22:19] #392 closed

[2021-06-29 08:05] benjaminwaterlot commented on #400
Hello @angeloashmore,

I just realised this error only happened on preview mode (I dev in preview to get realtime CMS updates), and thought about the limitations I read in the documentation.

It is [documented here](https://github.com/angeloashmore/gatsby-source-prismic/blob/beta/packages/gatsby-plugin-prismic-previews/docs/limitations.md#image-processing), and is due to the fact that arguments ca

[2021-06-29 08:05] #400 closed

[2021-06-29 08:07] benjaminwaterlot commented on #396
Hey @angeloashmore, I'm updating right now and will keep you updated (I think I should encounter this error in the next two days, when I add a new custom type, if the error is still there).

Thanks for your answers! :)

[2021-06-29 19:48] angeloashmore commented on #396
@benjaminwaterlot Thanks! I appreciate it!

[2021-06-29 19:51] angeloashmore commented on #400
Ah, I see. Yes, previews will not include GraphQL parameters since there is no GraphQL server at that time.

There's a separate issue to track this here: https://github.com/angeloashmore/gatsby-source-prismic/issues/342

This isn't a priority right now since this can be resolved in projects with CSS for the most part. There are some methods we could explore in the future. Thanks!

[2021-06-30 02:09] michaeljblum commented on #241
Where would you recommend using Gatsby's <Link> component to set up internal linking, @angeloashmore? As you point out, doing so in htmlSerializer doesn't yield the desired result. Doing so in linkResolver/gatsby-config doesn't seem to work either...

Thanks for all your work and help!!!

[2021-06-30 08:42] benjaminwaterlot opened #401 "[Critical] The preview data API seems broken for Rich Text fields"
Hello @angeloashmore,

First, thanks for your answers on my other issues :)

---

**Starting yesterday, the preview API started to return an inconsistent (broken) data schema for Rich Text fields.**
The endpoint called and which returns this broken data schema is:

[code]

My components expect data of type:

[code]

But, since yesterday, for no visible reason, and only when preview kicks in, it re

[2021-06-30 09:28] imjamesdotme commented on #241
Hey @michaeljblum  👋

I went with @angeloashmore's 3rd option above, using `react-html-renderer`. In case it's helpful, here's how I setup my Rich Text component and used Gatsby's `Link`.

[code]

As you can see, I first check the `href` value to see if it's an internal or external link then proceed to return the nessessary component; if it's external I wrap it with `OutboundLink` and if it's inte

[2021-07-01 17:10] theo-ford commented on #398
Thanks for getting back in touch. Yes you're right the issue seems to have resolved itself.

Many thanks!

[2021-07-05 20:49] danspratling opened #402 "[V4] Error on 'url' fields"
After upgrading to V4, I'm running into an issue where the "url" field on links is creating errors.

`GraphQLError: String cannot represent value: [function]`

As far as I can tell, the "link" field has been forced to work only for documents/internal media but does not allow strings - which are used to link to external documents.

Full error example:
<img width="505" alt="Screenshot 2021-07-05 at

[2021-07-05 21:17] danspratling commented on #402
Resolved: @angeloashmore reached out over twitter and informed me of an error I was having.

I was getting a function error because I hadn't properly followed the upgrade instructions.

[code]

[2021-07-05 21:17] #402 closed

[2021-07-05 21:22] angeloashmore commented on #402
Hey @danspratling, thanks for posting the solution! I understand the error is a bit cryptic.

Validating a function plugin option is tricky since we can't determine what the function returns without calling it. All we can test easily is that it is a function. The function could technically contain side-effects so currently the plugin does not call it to check that the function returns a string.

H

[2021-07-06 13:01] jordyvg opened #403 "[v4] Shareable links not working"
I've followed the [gatsby-plugin-prismic-previews instructions](https://github.com/angeloashmore/gatsby-source-prismic/tree/alpha/packages/gatsby-plugin-prismic-previews#gatsby-plugin-prismic-previews) and previews are working just fine. However if you create a shareable link from the previewed document and share is with a non Prismic user the preview is not resolving.

**Logged in in Prismic**
Ev

[2021-07-06 15:40] DevSide opened #404 "[v4] Image urls are wrong"
After uploading an image named "myimage@2x", the final url from prismic api is:
"https://images.prismic.io/{REPOSITORY}/{ID}_myimage%402x.jpg?auto=compress,format"

The final url after the plugin ran should be:
"https://images.prismic.io/{REPOSITORY}/{ID}_myimage%402x.jpg?ixlib=gatsbyFP&auto=compress,format&w={WIDTH}&h={HEIGHT}"

Instead, a double encoding occurred (it looks like the url was not d

[2021-07-07 18:46] angeloashmore commented on #404
Thanks @DevSide, I'll take a look at this. Until a fix is published, you should be able to use an image without a `@` character in the filename.

[2021-07-07 18:50] angeloashmore commented on #403
Hey @jordyvg, I think think might be expected based on your repository security settings. If a user is not logged in to your repository, the Prismic toolbar may not load as a privacy feature.

You could try out different Repository Security settings to see if that enables previews from non-logged-in users. You can find this setting in **Settings > API & Security**.

![image](https://user-images.gi

[2021-07-07 18:53] angeloashmore commented on #401
Hey @benjaminwaterlot, it looks like the Rich Text field isn't being converted during the preview properly. Normally this would result in an error being displayed.

When this happens, do you see any error printed to the DevTools console?

[2021-07-07 18:54] angeloashmore commented on #396
I'm going to close this as it should be fixed, but I can reopen it if the issue persists. Thanks!

[2021-07-07 18:54] #396 closed

[2021-07-07 19:46] DevSide commented on #404
I found the problem, i'm making a PR.

[2021-07-08 19:27] angeloashmore commented on #404
Closing as the PR has been merged. Please comment if it's still an issue and I'll reopen. 👍

[2021-07-08 19:27] #404 closed

[2021-07-09 13:09] kb1995 commented on #44
@angeloashmore I'm trying to implement this into my current website while upgrading to v4. I have a lot of shared slices, so if I change a Slice structure, I takes me quite a lot of time to duplicate across all custom types - so utilising Fragments will be great. Is it possible if we get a working example in the docs for this?

[2021-07-10 00:23] angeloashmore commented on #44
Hey @kb1995, creating interfaces and fragments for shared Slices is very fragile and not recommended, nor supported. As such, there isn't an example to share or a recommended practice.

I agree that it would be beneficial for situations like yours so I can help debug your case.

Your fragment appears to be placing the fields in the wrong type. `PrismicCustomerPageDataBodyImage` is a Slice, but the

[2021-07-10 15:19] benjaminwaterlot commented on #401
Hey @angeloashmore :)

This is not related to the front-end and Gatsby stack, so nothing in the console.

It's the external **Prismic preview endpoint** that doesn't return the same data types as before.

In my network tab, the following call:

[code]

Returns the following data, which is _not_ correct for Rich Text fields (see my comparison in the original post) and changed suddenly (I think it w

[2021-07-10 15:21] benjaminwaterlot commented on #396
Indeed - I can confirm that the error didn't happen again after the upgrade, thanks ! 🎉

[2021-07-13 08:50] mrseanbaines commented on #161
I'm using the v4 beta plugin and I think I have a similar issue. I was camelCasing field names with the `transformFieldName` config option and also using the custom types API with the `customTypesApiToken` config option:

[code]

This initially seemed to work, as the field names were camelCased in the GraphiQL editor, but anything that was more than one word would just return null (since single wo

[2021-07-15 09:42] jodiedoubleday opened #407 "[V4] Warning: useLayoutEffect does nothing on the server"
When running V4 on Develop I'm seeing the following error/warning sporadically...

[code]

i am using the flags...
[code]

I'll look to generate an example repo shortly.

[2021-07-15 21:07] angeloashmore commented on #407
Hey @jodiedoubleday, thanks for the report.

For context, this warning is due to this part of the plugin:
https://github.com/angeloashmore/gatsby-source-prismic/blob/908de9fc5ee569f707f7c42aaff18564db8bbfd3/packages/gatsby-plugin-prismic-previews/src/context.tsx#L226-L228

It is used to inform users if `<PrismicPreviewProvider>` has not been added.

I will test if we can use `useEffect` or remove

[2021-07-16 10:46] kb1995 commented on #207
@angeloashmore Did you find a solution for this? Even though I'm in the process of migrating to v4, I started experiencing this problem when previewing documents in v3

[2021-07-20 00:15] angeloashmore commented on #346
This is now live! All documentation updates will be handled on [prismic.io](https://prismic.io) going forward.

https://prismic.io/docs/technologies/gatsby

[2021-07-20 00:15] #346 closed

[2021-07-20 02:36] angeloashmore commented on #377
### 🎊 V4 is officially published! 🎊

Thank you to everyone who tested out the plugins during the beta period!

New feature requests are tracked in other GitHub issues and will be developed and released in future V4 releases. If you encounter any issues with the latest V4 release, please open an issue and I will take a look!

[2021-07-20 02:36] #377 closed

[2021-07-20 02:37] angeloashmore commented on #276
V4 has been published!

[`gatsby-plugin-prismic-previews`](https://github.com/prismicio/gatsby/tree/main/packages/gatsby-plugin-prismic-previews) supports Preview Share links via the Prismic Toolbar.

[2021-07-20 02:37] #276 closed

[2021-07-20 02:38] angeloashmore commented on #333
V4 has been published!

[gatsby-source-prismic](https://github.com/prismicio/gatsby/tree/main/packages/gatsby-source-prismic) downloads media files locally when the `localFile` field is queried (described in the previous comment).

[2021-07-20 02:38] #333 closed

[2021-07-20 02:39] angeloashmore commented on #343
Using [siroc](https://github.com/unjs/siroc) like other @prismicio packages may be beneficial.

[2021-07-21 20:21] angeloashmore commented on #145
This is now a feature of the just released v4! Using the new `typePrefix` plugin option allows you to include multiple instances of `gatsby-source-prismic`, each with a unique `typePrefix` value.

See the official documentation for an example: https://prismic.io/docs/technologies/install-the-plugin-gatsby

[2021-07-21 20:21] #145 closed

[2021-07-22 06:45] tjjjwxzq commented on #218
How is previewing static queries supposed to work now with the new `gatsby-plugin-prismic-previews` in v4? The docs only show examples for page templates.

[2021-07-23 19:31] angeloashmore opened #413 "Integrate as a CMS option to `npm init gatsby`"
Adding Prismic as a CMS to `npm init gatsby` could help users setup their projects quicker.

For context, this is what a user sees after running `npm init gatsby` today:

![image (4)](https://user-images.githubusercontent.com/8601064/126832126-85a293ac-e56b-4a00-bee6-760ab776a02d.png)

[2021-07-25 20:42] kb1995 opened #414 "[Critical] V4 - Query by content relationship field not working"
### Versions

- gatsby-source-prismic: v4.0.1
- gatsby-plugin-prismic-previews: ^4.0.1
- node: v14.17.1

### Reproduction

Follow the tutorial https://prismic.io/docs/technologies/query-by-content-relationship-link-field-graphql

I have a custom type `Academy Post` and I have a content relationship "author". I want to create a page /author/:uid where I can extract all academy posts with this autho

[2021-07-26 16:16] danspratling commented on #384
@angeloashmore I've found a small documentation discrepency that led to me getting this error for a while.

Partially my fault for copy/pasting without reading fully, but something many others can/will run into too.

Here, the API key is `GATSBY_PRISMIC_*REPO*_NAME`
https://prismic.io/docs/technologies/install-the-plugin-gatsby

And here it's both `GATSBY_PRISMIC_*REPO*_NAME` and `GATSBY_PRISMIC_*

[2021-07-26 18:49] angeloashmore commented on #384
@danspratling Good catch! That error will be fixed shortly.

[2021-07-26 18:52] angeloashmore commented on #161
Hey @mrseanbaines (sorry for the delayed response!) and @larsenwork,

This definitely looks related to the `transformFieldName` option. I'll investigate and let you know what I find!

[2021-07-27 01:00] angeloashmore commented on #161
@mrseanbaines @larsenwork, could you test the latest versions? I just published a change that should fix the issue.

- `gatsby-source-prismic@4.0.2`
- `gatsby-plugin-prismic-previews@4.0.2`

If the issue persists, let's open a new issue so we can track it better. Thanks!

[2021-07-27 01:01] angeloashmore commented on #161
(I'm going to close this issue in the meantime as the original issue has been addressed. We can continue commenting here if necessary though!)

[2021-07-27 01:01] #161 closed

[2021-07-27 05:17] larsenwork commented on #161
I can confirm that it fixes my issue. Thanks 🙏

[2021-07-27 22:01] angeloashmore commented on #414
Hey @kb1995, the way to filter your queries is different in Gatsby's GraphQL API compared to Prismic's GraphQL API.

Gatsby has its own way of making its data available to you. If you source content from Prismic and other APIs, such as Shopify, Gatsby will make querying data for both available using the same interface.

This means the API will be different than when using Prismic's native GraphQL

[2021-07-27 22:01] #414 closed

[2021-07-27 22:05] angeloashmore commented on #218
Hey @tjjjwxzq, good question! We need to add an example of this in the documentation.

You can use the `useMergePrismicPreviewData` hook from `gatsby-plugin-prismic-previews`.

Technical documentation for the hook is available here: https://prismic.io/docs/technologies/gatsby-plugin-prismic-previews-technical-reference#usemergeprismicpreviewdata

Here is an example:

[code]

[2021-07-27 22:06] angeloashmore commented on #218
I'm going to close this issue since there is a standard way of doing this now: `useMergePrismicPreviewData`

[2021-07-27 22:06] #218 closed

[2021-07-27 22:46] kb1995 commented on #414
@angeloashmore Hey, thanks a lot for the detailed response! The query that you posted could work, I will give it a go tomorrow!

However, I'm still a bit confused why the `where` argument described in [this article](https://prismic.io/docs/technologies/query-by-content-relationship-link-field-graphql) is not working and how I could make it work with my Prismic custom type and my graphql query. Is

[2021-07-27 23:43] angeloashmore commented on #414
@kb1995 Hopefully I can explain clearly, but let me know if I should expand on anything.

The reason is that they are two different APIs. Although both use GraphQL as their way of querying for data, they do not use GraphQL in the same way.

## Prismic's REST and GraphQL APIs

When using Prismic outside of a Gatsby application, content can be fetched using Prismic's REST API or GraphQL API.

<img s

[2021-07-28 08:26] kb1995 commented on #414
@angeloashmore That's a stellar explanation - makes perfect sense now. Thanks a lot!

[2021-07-28 20:55] DennisKraaijeveld opened #416 "[v4] Migrating to Prismic from V3 using Gatsby Shopify Starter"
Hi guys,

I am attempting to migrate from v3 to v4, but I am running into an error. I cant figure out what I should do, as I followed the migration guide..

### Versions

    "gatsby": "^3.10.2",
    "gatsby-plugin-gatsby-cloud": "^2.10.0",
    "gatsby-plugin-google-analytics": "^3.10.0",
    "gatsby-plugin-image": "^1.10.1",
    "gatsby-plugin-react-helmet": "^4.10.0",
    "gatsby-plugin-sass": "

[2021-07-29 02:15] angeloashmore commented on #416
Hey @DennisKraaijeveld, that seems to be related to `gatsby-plugin-image`. As a quick test, can you trash your `node_modules` folder and reinstall?

Gatsby's GraphQL server can act unusual when it seems multiple version of `graphql` or types.

[2021-07-29 06:49] DennisKraaijeveld commented on #416
Hi @angeloashmore I did remove the `node_modules` folder and run `gatsby clean`, but without any success..

[2021-07-29 07:00] angeloashmore commented on #416
Thanks for checking @DennisKraaijeveld. I will take a look at this tomorrow. 👍

[2021-07-29 09:34] DennisKraaijeveld commented on #416
Thanks!

[2021-07-29 15:12] rafalohn commented on #389
I'm also getting issues with `localFile{ChildImageSharp{gatsbyImageData}}}` with V4:

This happens with all my localFile gatsbyImage queries. Although all the error message URLs - such as the above - work fine and I had no issues with `gatsby-prismic-source` V3.

Currently trying to upgrade to V4 with the following:

    "gatsby": "^3.10.2",
    "gatsby-plugin-image": "^1.10.1",
    "gatsby-plugin

[2021-07-29 21:37] angeloashmore commented on #416
Thanks for being patient @DennisKraaijeveld. This is an issue with using multiple plugins that use `gatsby-plugin-image`.

In your case, `gatsby-source-prismic` and `gatsby-source-shopify` both include a `gatsbyImageData` field for image fields. Due to the way `gatsby-plugin-image` is built, Gatsby is unable to generate a working GraphQL schema when two plugins implement `gatsbyImageData`.

I've m

[2021-08-03 07:49] mrseanbaines commented on #161
Thanks @angeloashmore! I had to continue without the camelCasing so I'll need to do some refactoring at some point to try this out. Will let you know how it goes when I get the chance

[2021-08-04 00:33] angeloashmore opened #417 "Support Shared Slices"
### Is your feature request related to a problem? Please describe.

Shared Slices are a core feature of Slice Machine. In order to support Slice Machine in the future, `gatsby-source-prismic` and `gatsby-plugin-prismic-previews` must support Shared Slices.

### Describe the solution you'd like

`gatsby-source-prismic` must accept Shared Slice models. It must also support Custom Type models that us

[2021-08-04 00:40] angeloashmore commented on #401
Hey @benjaminwaterlot, I apologize for the delayed response. I thought I had responded before.

The data from the Prismic API will not look like the data you receive from Gatsby. The data is processed after receiving it from the API in order to shape it like Gatsby's API from `gatsby-source-prismic`.

When you preview a document, it should automatically transform it into an object that contains `r

[2021-08-04 00:54] angeloashmore opened #419 "Global preview configuration via PrismicPreviewProvider"
### Is your feature request related to a problem? Please describe.

Providing configuration to each `withPrismicPreview`, `withPrismicPreviewResolver`, and `withPrismicUnpublishedPreview` can be tedious and error prone.

### Describe the solution you'd like

Configuration could instead be provided once to the top-level `<PrismicPreviewProvider>` and accessed within the HOCs.

If a user needs to ov

[2021-08-04 20:41] rafalohn commented on #389
As a follow-up, I could swear I made it work _once_ when I updated to `" gatsby": "^3.11.0",`. But it stopped working and I am back to the same error.  I am using macOS Big Sur and my colleague with the same OS has the same error. But my colleague using Linux can run this exact branch with no errors whatsoever! We are all using Node v16.6.0.
I did try `GATSBY_CONCURRENT_DOWNLOAD=1 gatsby develop`.

[2021-08-05 06:33] valtism commented on #402
Thanks for posting @danspratling, saved me a _lot_ of headaches.

[2021-08-08 06:58] valtism commented on #207
@kb1995 I encountered this problem recently, and I decided that accessing different types through a content relationship (via `.document`) was probably an anti-pattern. It was already giving me headaches in TypeScript because I could not type narrow down to the exact type of link it was.

What I did to fix it was to remove any and all `.document` calls and instead query the document type itself, s

[2021-08-09 09:35] mrseanbaines opened #422 "Can't access data inside relationship fields when in a preview session"
I'm facing an issue where I can't access data inside relationship fields when in a preview session.

I am querying a blog post which has a relationship field for author, category etc. I'm using a GraphQL fragment (doesn't matter if it's inline or not) inside of the `document` field to access the author type and query fields inside of that, e.g. `name`. This works fine outside of a preview session,

[2021-08-09 10:07] mrseanbaines commented on #422
**Update:**

If I log out `data.prismicBlogPost.data.author.document?.data.name` _(note the optional chaining on `document`)_, then it seems to work in the end. It looks like at some point in the preview generation lifecyle it becomes `undefined` before being defined again, so if you just try to access `document` directly then it throws and the preview doesn't work at all.

<img width="86" alt="im

[2021-08-09 12:32] mrseanbaines opened #423 "Unpublished previews not running/returning page template queries"
I'm facing an issue where, when previewing an unpublished document, data passed to the `data` prop in my page template component is returning something other than what I queried for.

I am querying some data in a blog post template and trying to preview an unpublished document via Prismic. The preview works fine for published documents, but for unpublished posts it returns the 404 page query resul

[2021-08-09 16:27] rafalohn commented on #389
Workaround found! Turns out that if we use `npm` instead of `yarn` it works as expected.

[2021-08-09 18:46] angeloashmore commented on #423
Hey @mrseanbaines, thank you for the detailed report!

This behavior is how the plugin is designed and I understand that this may not be expected.

You are correct in saying your page query will be ignored for _unpublished_ previews. Unpublished previews technically do not exist in your site so Gatsby has no query or content to associate with it. Published previews have access to your page's query

[2021-08-09 18:54] angeloashmore commented on #422
@mrseanbaines Thanks for the update. That's interesting that it shows as undefined for a single render. I will take a closer look at why this is happening for you.

In the meantime, can you test this with the latest version of the plugin (currently `v4.0.3`)? This is just to rule out any recent fixes as being the cause.

---

For some background info on the plugin:

The plugin is designed to match

[2021-08-09 18:55] angeloashmore commented on #423
I'm going to close this issue as this is expected behavior, but we can continue the conversation if you have suggestions on how this could be handled differently. We can always re-open the issue if necessary. :)

[2021-08-09 18:55] #423 closed

[2021-08-09 19:01] angeloashmore commented on #389
That's strange! I'm glad you found a workaround!

For context, the error comes from `gatsby-source-filesystem`, not `gatsby-source-prismic`. It is, however, a result of using the `localFile` field within a Prismic document's Image or Link to Media field.

Are you able to open an issue in the [Gatsby repository](https://github.com/gatsbyjs/gatsby) for `gatsby-source-filesystem`? I'm not familiar en

[2021-08-09 19:09] mrseanbaines commented on #423
Hey @angeloashmore. Thanks for the quick response.

I have tried to avoid static queries as much as possible as I am working with a multi-locale site, so since you can't provide variables such as locales to the static queries, I end up having to query _all_ documents in all locales and then filter only the locale I care about for a given page 😕. It sounds like this might be the only option though

[2021-08-09 19:15] mrseanbaines commented on #422
Thanks @angeloashmore - will try out the latest version tomorrow and get back to you. Turned out not to be a huge issue after I worked out that it eventually populates the content, so just needed a few optional chainings and/or some early returns

[2021-08-09 19:22] angeloashmore commented on #423
I see, that makes sense. If you need to support unpublished previews, then yes, `useStaticQuery` with client-side filtering seems to be the only option.

As an alternative preview setup, you could use Gatsby Cloud Previews. This effectively runs your Gatsby development server in the cloud which supports unpublished previews with page-level queries like you posted. It requires a specific workflow (

[2021-08-09 19:25] angeloashmore commented on #422
Good to hear! In general, I would recommend always putting a null check around fields (including content relationship fields) since editors in Prismic can always save a document without filling in the field. This doesn't fix the root issue you describe, but it helps cover it up.

[2021-08-09 22:05] rafalohn commented on #389
I'll look into it. But, meanwhile, I see that @jodiedoubleday used to have issues with the image path ending in (for example) `?auto=compress,format`. How can I force remove it from the URL to see if it fixes the issue? Maybe it helps...

[2021-08-10 01:37] angeloashmore commented on #389
@rafalohn You can customize the Imgix URL parameters using the `imageImgixParams` plugin option.

**See**: https://prismic.io/docs/technologies/install-the-plugin-gatsby#3.-configure-the-plugin

If you are downloading the images locally with the `localFile` field, then removing `auto=compress,format` is okay. `gatsby-transformer-sharp` will compress them instead.

If you are using Imgix URLs with

[2021-08-10 01:57] rafalohn commented on #389
Adding `imageImgixParams: {}` did not remove the parameters from the URL path. I still got the same

To be clear, I have components such as
[code]
using something like
[code]
This works in `gatsby-source-prismic` V3 and now works in V4 with `npm`. But with `yarn` I got the error above.

[2021-08-10 04:16] angeloashmore commented on #389
@rafalohn I might have misremembered. Can you try `imageImgixParams: { auto: undefined }`? Or set auto to an empty string?

The params are basically is spread over the existing params.

[2021-08-10 12:26] rafalohn commented on #389
Both `imageImgixParams: { auto: undefined } ` and `imageImgixParams: { auto: "" } `  kept `?auto=compress,format` on my image URLs.

[2021-08-10 18:09] angeloashmore commented on #389
Thinking more about this, that makes sense. The `imageImgixParams` option only applies to the Imgix fields (`fluid`, `fixed`, and `gatsbyImageData`). Note that these are the image-level fields, not the fields within `localFile.childImageSharp`.

The `localFile` field downloads the original URL given directly from Prismic.

**Should the `localFile` field apply the provided `imageImgixParams` to the

[2021-08-11 04:27] tjjjwxzq commented on #218
Thanks @angeloashmore 🙏

[2021-08-12 16:52] greatwitenorth opened #425 "Broken links in v3 docs. Need versioned docs"
### Versions

- gatsby-source-prismic: v3

### Reproduction

Visit the following link:
https://github.com/prismicio/gatsby/tree/v3

Try to click the following links:

- Migrating from v2 to v3
- Previews

The links go to 404 pages.

**Additional Details**
We need to have some versioned documentation for this source plugin. We have clients still on v3 and we cannot upgrade them to v4 at the moment.

[2021-08-12 21:32] angeloashmore commented on #425
@greatwitenorth Thanks for catching the broken links. I've updated the docs in the `v3` branch to use the correct URLs. Can you let me know if this fixes the issue you had?

Re: versioned docs - Documentation will be on [Prismic's site](https://prismic.io/docs/technologies/gatsby) going forward. Versioning the technical documentation ([this page for example](https://prismic.io/docs/technologies/ga

[2021-08-12 21:32] #425 closed

[2021-08-13 20:04] rafalohn commented on #389
I guess `imageImgixParams` should be ignored if I am aiming for local `gatsbyImageData`.

I can't help the feeling that there is some sub-dependency somewhere that `npm` install differently than `yarn` and that's why one works and the other doesn't. And, since I have this problem with `gatsby-source-prismic` V4 but not V3, it probably is some new dependency or a newer version of a previously used

[2021-08-16 10:45] jsauca opened #429 "IntegrationType not working with createSchemaCustomization in v4"
### Versions

- gatsby-source-prismic: v4
- node: 15.0.1

### Reproduction

I am creating foreign-key relations with the createTypes action from gatsbyjs.

Unfortunately what use to work in gatsby-source-prismic: v3 does not work in gatsby v4.

- **Previous code for Gatsby v3 (it works)**
product is a shopify integration field. product.id  & product.admin_graphql_api_id are extracted to link other

[2021-08-17 15:58] mrseanbaines opened #430 "Previews broken?"
_Also posted in [the community forum](https://community.prismic.io/t/can-not-set-up-previews-with-v4-gatsby-prismic-integration/6398/22?u=sean)_

Previews were working last week and today I noticed that they aren't any more. Not sure what I've changed, and I've tried rolling back to a previous version but still get the same results.

After clicking the preview button in Prismic, I get stuck on the

[2021-08-18 01:25] valtism opened #431 "Unpublished previews always 404ing"
`gatsby-source-prismic: 4.0.2`
`gatsby-plugin-prismic-previews: 4.0.3`
`node: v14.16.1`

I know this has been brought up in many issues already, but I have gone over each one multiple times and not been able to solve for my use-case.

Currently, I have previews working for published documents, but when I try to preview an unpublished document I always get the 404 page.

<details>
<summary>404.tsx<

[2021-08-18 16:05] rafalohn commented on #389
Happy to share that today I updated to `"gatsby": "^3.12.0",` (and likewise to the `#.12.0` for the `gatsby-plugin-##` family) and now I can use `yarn` and no longer have the

errors I had before. Looks like it is working as expected for me and my colleagues. Thank you for your support and great work @angeloashmore

[2021-08-18 19:31] angeloashmore commented on #429
Hey @jsauca, I'm testing this out on my side now. To confirm, are you using `gatsby-source-prismic` v4 or v5?

Can you run `gatsby info` and paste the result here?

Thanks!

[2021-08-18 19:52] angeloashmore commented on #429
In the meantime, assuming you are using `gatsby-source-shopify` v5, you could try the following:

[code]

This will replace the `product` data field in your `PrismicProduct` document with a link to the `ShopifyProduct` node. It will match the `admin_graphql_api_id` field in both nodes to create the link.

[2021-08-18 19:54] angeloashmore commented on #389
That's great to hear! Sorry I wasn't able to provide more support here. I'm still not sure what the underlying issue is causing that error.

I'm going to close this issue as it sounds like using the latest version of Gatsby and its plugins will fix the issue. If it comes back, we can reopen and investigate. Thanks!

[2021-08-18 19:54] #389 closed

[2021-08-18 21:51] angeloashmore commented on #431
Hey @valtism, thanks for all the details. Everything in your code looks okay. If published previews are working okay, but unpublished previews are not, that makes this especially unusual.

There currently seems to be an issue with previews and the Prismic Toolbar right now. The issue is preventing previews from loading in some repositories (basically, the cookie used by the preview system is not g

[2021-08-18 22:10] angeloashmore commented on #430
Hey @mrseanbaines, thanks for posting on the forum as well. This seems to be a Prismic API issue rather than your code or the Gatsby plugins.

The team is investigating the issue, but for now there is no workaround to get previews working unfortunately.

In the mean time, you can create releases with your edits and rebuild your Gatsby site with the Release ID. See the [`releaseID` plugin option](h

[2021-08-19 08:58] benjaminwaterlot commented on #430
Hello @angeloashmore,

Just wanted to signal that we're experiencing the same problem and it's very concerning for our content team - do you have an estimate of the time to fix ? :)

[2021-08-19 13:27] kb1995 commented on #430
Just wanted to flag that preview are broken in my client's Gatsby website. They kind of work, but are missing some rich text fields such as titles. I don't think there is the same problem for the other Nextjs websites which I manage

[2021-08-19 16:41] benjaminwaterlot commented on #430
@kb1995 do you think this is the same issue as https://github.com/prismicio/prismic-gatsby/issues/401 ?

Last time I checked, the plugin was indeed returning different data formats between the preview and published content (details and workaround in the issue).

[2021-08-19 19:44] angeloashmore commented on #430
@benjaminwaterlot Thanks for letting me know your repo is also experiencing the issue. It's definitely frustrating (it's also affecting my own projects). I don't have an estimate on when it will be fixed but the development team is aware of the issue.

FYI this is an issue for a group of Prismic repositories and not specific to Gatsby. The code in your project likely isn't broken if previews are c

[2021-08-20 09:47] kb1995 commented on #401
@angeloashmore I'm coming from #430 and I'm experiencing a similar problem like @benjaminwaterlot

I have a `rich_title` which is an alias to `title`. My graphql query looks like this

[code]

When not in preview, it's working as expected.

[code]

is outputting the correct title.

However, when I preview, it looks like that this turns into an `undefined`.

I debugged it in console.log and it look

[2021-08-20 10:08] kb1995 commented on #430
@angeloashmore I commented in #401

[2021-08-20 14:21] inetdigital commented on #430
@angeloashmore I am testing gatsby-source-prismic@4.0.0-beta.17 and gatsby-plugin-prismic-previews@4.1.0 on a new project for the first time today. Previews always get stuck on the /preview route and never resolve, I believe the same as other issues being reported. Am I to understand this is confirmed as being due to a Prismic API issue and there is no known fix currently?

[2021-08-20 18:16] angeloashmore commented on #430
@inetdigital That's correct, it is most likely due to a Prismic API issue. The dev team is currently figuring out the issue to find a fix. There is no workaround for now, unfortunately.

In your project, I would recommend updating to the latest versions to make sure everything works as expected.

- `gatsby-source-prismic`: `v4.1.0`
- `gatsby-plugin-prismic-previews`: `v4.1.0`

Thank you everyone f

[2021-08-20 18:21] angeloashmore commented on #401
Hey @kb1995, alias are not supported in previews. During a preview, you are not using Gatsby's GraphQL API so the `rich_title` => `title` alias is no longer represented anywhere.

If you must use aliases, you have access to a `isPrismicPreview` prop that you can use to determine if you should access `rich_title` or `title`. The prop will be `true` or `false` depending on if a preview session is ac

[2021-08-23 16:06] benjaminwaterlot commented on #430
Hello @angeloashmore, since yesterday, we've got an error message, which seems to point to something different.

Here is a detailed screenshot including :
* The error message,
* The detail of the `preview` endpoint response, with the specific resource that don't seem to fit the schema.

Note : I don't think there is any possibility that the Custom type schema is **really** divergent with what I fe

[2021-08-24 02:30] angeloashmore commented on #430
@benjaminwaterlot Thanks for the details. When the preview plugin processes a link, it does the following check:

[code]

If that function returns false for the link field, the error in your screenshot will appear.

`{ link_type: "Document" }` would pass that test, so there must be another field somewhere that is failing. Is it possible to check all `page_landing` documents for that link? You can

[2021-08-24 08:11] benjaminwaterlot commented on #430
Thanks @angeloashmore, there it was indeed.

I have plenty of "good" elements (just like the one in my screenshot) and a single one that was `"partner_logo": null`.

I simply added a document in the Prismic UI for the wrong entity and it fixed the problem.

**Note** : I guess that still is an important bug because the preview API should not be able to return data not fitting the schema, right ?

-

[2021-08-24 20:30] angeloashmore commented on #430
Ah, good find. Thank you for checking that!

Yes, this is still a bug since `null` is a valid value. The plugin currently does *not* see it as valid and throws an error. I'll make this change and publish a new version.

[2021-08-25 02:19] angeloashmore commented on #430
@benjaminwaterlot I published a fix for your issue. Could you try the latest versions?

- `gatsby-source-prismic`: `v4.1.2`
- `gatsby-plugin-prismic-previews`: `v4.1.2`

Thanks again for finding that bug. 🙂

[2021-08-25 16:24] luiskunz opened #434 "Data not appearing during previews"
### Versions

- gatsby-source-prismic: ^4.1.0
- gatsby-plugin-prismic-previews: ^4.1.0
- node: 14.x (vercel)

### Problem

The preview feature is displaying just the layout component (navbar & footer) without the slices which are inside of the page. The routing of link-resolver seems to work just fine but isn't displaying the information that it should do.

Here is a list with my configuration:

<

[2021-08-27 17:45] matthewlein opened #435 "Add pageSize customization"
I have received an email that prismic will be blocking large api responses soon. I believe some of these are coming from the primsic-gatsby plugin to build all the prismic pages. The easiest solution is lowering pageSize from 100 to something smaller, but I don't think this can be configured in the plugin.

I would like to be able to set `pageSize` in the config to any number and have it use that

[2021-08-29 13:34] mudge opened #436 ""Cannot use import statement outside a module" when testing components using gatsby-plugin-prismic-previews"
### Versions

- gatsby-source-prismic: 4.1.2
- gatsby-plugin-prismic-previews: 4.1.2
- node: 14.17.5

### Reproduction

Please see https://github.com/mudge/gatsby-plugin-prismic-previews-test-case for a git repository that demonstrates the failing behaviour.

See the following additional details but this seems to be due to the presence of un-transpiled ES6 code in the `gatsby-plugin-prismic-previe

[2021-08-29 13:46] mudge commented on #436
Altering the default Jest configuration in `jest.config.js` to transpile `gatsby-plugin-prismic-previews` as follows causes the test suite to run and pass:

[code]

However, the tests will then emit the following warnings:

[code]

[2021-08-29 16:21] OleksandrRakovets commented on #422
Hi @angeloashmore

I am experiencing the same issue on the latest version of `gatsby-plugin-prismic-previews": "4.1.2"`

<img width="642" alt="Screenshot 2021-08-29 at 19 08 58" src="https://user-images.githubusercontent.com/5619390/131257348-313635cf-1a80-4acc-8e64-dbd85bfc135d.png">

Output is from `console.log(data.author.document)`. To make matters worse, `undefined`s come last now, so optiona

[2021-08-30 14:47] nooxx opened #437 "Error on build: A valid fetch implementation was not provided."
Hi, I've migrated from gatsby V2 to V3 and gatsby-source-prismic from V3 to V4.
Now when I start my local dev server or the build process, I get this error a few times:

![Screenshot 2021-08-30 at 16 11 39](https://user-images.githubusercontent.com/6512445/131357712-5a9618bf-e88e-4aa9-a271-bfa083619f1d.png)

Also when I go to http://localhost:8000/___graphql, I don't see any of my prismic custom t

[2021-08-30 15:23] luiskunz commented on #434
Hey Angelo,

Thank you so much for your help, indeed the problem was the GraphQL aliases. I just finished reconverting all the aliases and I have to change the variables names in Prismic and also in the code. It was long work due that I had many variables which were conflicting with each other.

Regarding the loop, it does make sense. Thank you so much Angelo! You just save me tons of time, and th

[2021-08-30 15:25] #434 closed

[2021-08-30 18:25] angeloashmore commented on #434
Hey @luiskunz, I'm glad to hear it's working! I'll look into how we can update the documentation on https://prismic.io to include the preview limitations. Hopefully we can share this information sooner so others don't need to go through the same converting process you went through.

Thanks for sharing your experience! 🙂

[2021-08-30 18:35] angeloashmore commented on #437
Hi @nooxx, sorry you're experiencing this error. Does it happen every time you start the server?

Can you try the following?

- Remove the `shouldDownloadImage` plugin option ([see details](https://prismic.io/docs/technologies/gatsby-source-prismic-v3-to-v4#removeshoulddownloadfile))
- Remove the `htmlSerializer` plugin option if the function is empty
- Is `testrepositor.cdn` the name of your repo

[2021-08-30 18:44] angeloashmore commented on #422
Hi @OleksandrRakovets, sorry you're seeing this error during previews. This should not be happening, of course.

I would recommend doing a boolean check for content relationship fields. This will at least stop your site from crashing for now and will help in the future if a content writer does not provide a value for that field.

I will look into this more to figure out what is happening.

@Oleksa

[2021-08-30 20:08] angeloashmore commented on #436
Hi @mudge,

What you found is correct: the plugin contains code with ES Modules (it is transpiled but not converted to CommonJS). This is done since Gatsby transpiles `node_modules` as part of its bootstrap and build stages.

Your `transformIgnorePatterns` is correct. You can add any non-CommonJS packages to that list.

I believe Jest recently changed their default test environment to `node`. This

[2021-08-30 20:16] angeloashmore commented on #435
Hey @matthewlein, thanks for the suggestion. This sounds like a good idea.

I'm currently refactoring parts of the plugin that currently would conflict with adding a `pageSize` option. I'll leave this issue open for now and will add the option once the refactor is ready to merge. This shouldn't be long - hopefully within the week.

Thanks!

[2021-08-31 03:10] valtism commented on #431
I just realised that the site was still adding the toolbar via script tags. I removed these since we are now using the plugin, but the preview still is not working (totally cleaned app, cleared app memory and disabled cache). Getting a slightly different output in the Provider now:

[code]

[2021-08-31 08:00] nooxx commented on #437
Hi @angeloashmore, thank you! Doing all of this worked. (Yes it happened every time I start the server).

[2021-08-31 21:36] angeloashmore commented on #437
@nooxx Great! Glad to hear it's working!

(I'm going to leave this issue open since there is an underlying issue that needs to be fixed.)

[2021-09-01 09:58] mudge commented on #436
Hi @angeloashmore,

Thanks for the prompt response. I added `jsdom` with `npm install --save-dev jsdom` and updated my `jest.config.js` as you suggest and that--along with the aforementioned `transformIgnorePatterns` change--seems to fix the issue:

[code]

Perhaps it would be worth documenting the required `transformIgnorePatterns`?

[2021-09-01 14:53] nooxx opened #441 "Preview data is not showing on dynamic pages"
Hi, I'm trying to preview blog posts and the preview data is not showing on my dynamic pages.

### Versions

- gatsby-source-prismic: 4.1.2
- gatsby-plugin-prismic-previews: 4.1.2
- node: 14.16.1

### Reproduction

Here is the plugin config:
[code]

Here is a part of my blog post template {PrismicPosts.uid}.js inside /pages/blog/post/
[code]

My preview.js:
[code]

Also updated my 404.js page so i

[2021-09-01 21:30] angeloashmore commented on #436
Hey @mudge, glad to hear it's working!

I think it's a good idea to document this somewhere. I'll discuss this with the documentation team and see what we can do. 🙂

[2021-09-01 21:30] #436 closed

[2021-09-01 21:38] angeloashmore commented on #441
Hey @nooxx,

In your BlogPostTemplate file, could you change `withPrismicPreviewResolver` to `withPrismicPreview`?

[code]

`withPrismicPreviewResolver` is for the preview resolver page (`src/pages/preview.js`).

[2021-09-01 23:37] angeloashmore commented on #430
I'm going to close this now since the preview issue has been resolved. Thanks for your patience on this!

[2021-09-01 23:37] #430 closed

[2021-09-01 23:40] angeloashmore commented on #422
@OleksandrRakovets I sent you a message on the Prismic community forum, but I'll repost the info here for others.

I'll close this issue as the fix *should* also fix the original issue. Basically, if the rendered component does not throw an error, the preview would eventually resolve to the correct data. With the latest version, it now will only add preview once everything is ready.

[2021-09-02 06:59] nooxx commented on #441
@angeloashmore  Nice catch this was the issue 🤦‍♂️. Thank you!

[2021-09-02 07:34] angeloashmore commented on #441
Cool! Luckily it’s an easy fix. 😉

[2021-09-02 07:34] #441 closed

[2021-09-03 01:54] angeloashmore opened #442 "Warn when a Link Resolver is not provided to preview HOCs"
### Is your feature request related to a problem? Please describe.

If a Link Resolver is not passed to the preview HOCs (`withPrismicPreview`, `withPrismicUnpublishedPreview`, and `withPrismicPreviewResolver`), the HOCs assume the project does not use it. Link Resolvers are optional considering a user could use Route Resolvers instead ([learn about the difference here](https://prismic.io/docs/cor

[2021-09-03 02:06] angeloashmore opened #443 "Document advanced TypeScript usage"
### Is your feature request related to a problem? Please describe.

Gatsby's GraphQL API is a good match for TypeScript projects. The fully typed nature of the API means developers can use tools like [GraphQL Code Generator](https://www.graphql-code-generator.com/) to automatically produce rich TypeScript types specific to their project. Once setup, this workflow can make future development and te

[2021-09-03 17:08] kb1995 commented on #201
@angeloashmore I'm just doing some performance improvement to my website and I noticed that the `gatsby-plugin-prismic-preview` is quite large - 106 KB Parsed and 29 KB zipped. I'm on the latest version of the plugins

Do you have any plans/advice on reducing this?

[2021-09-03 18:37] angeloashmore commented on #201
Hey @kb1995, yes, this is definitely something I will be looking at. The initial version was written to get it working. There are optimization we can make like lazy loading and using less dependencies.

[2021-09-06 08:20] nooxx opened #444 "Previews working locally but not on a staging environment"
Hi, I've got the previews working locally but when trying on a staging environment the preview page gets stuck on /preview and doesn't redirect.

There is this error in the console:

<img width="654" alt="Screenshot 2021-09-06 at 10 06 36" src="https://user-images.githubusercontent.com/6512445/132183725-2e5b5166-4790-46cb-a94f-082675538287.png">

### Versions

- gatsby-source-prismic: 4.1.2
- gats

[2021-09-07 18:34] angeloashmore opened #445 "Unpublished documents possibly remain in Gatsby's cache"
### Versions

- gatsby-source-prismic: v4.1.2
- gatsby-plugin-prismic-previews: N/A
- node: v14.17.0

### Reproduction

N/A (will create one when diagnosing the issue)

### Steps to reproduce

1. Publish a document.
2. Build the site.
3. Unpublish the document.
4. Rebuild the site.
5. See that the unpublished page may still be present in the Gatsby build.

To remove the unpublished page, Gatsby's

[2021-09-08 00:54] angeloashmore commented on #444
Hey @nooxx, that error comes from the Prismic toolbar. It seems to be a result of Chrome extensions interfering with the toolbar's setup process. You can see more details here: https://github.com/prismicio/prismic-toolbar/issues/60#issuecomment-887604685

I fix for the toolbar error was written but it has not been merged yet.

Are you able to test previews in incognito mode without extensions?

[2021-09-08 01:04] angeloashmore commented on #44
I'm going to close this old issue as it is not something that will be added to the plugin. Instead, Shared Slices will provide this functionality once Slice Machine is supported.

[2021-09-08 01:04] #44 closed

[2021-09-08 01:07] angeloashmore commented on #60
@Coriou So sorry there wasn't any response to your issue. I'm going through old issues and cleaning them out.

Filtering/limiting group fields is not possible in the Gatsby plugin, but you can use the Imgix image fields (`gatsbyImageData`, `fixed`, `fluid`) to do image transformations at request time. This will drastically reduce your development and build times.

[2021-09-08 01:07] #60 closed

[2021-09-08 01:08] angeloashmore commented on #73
I'm cleaning out old issues. If this is still a problem, please open a new issue and I can take a look! Thanks!

[2021-09-08 01:08] #73 closed

[2021-09-08 01:12] angeloashmore commented on #86
I'm cleaning out old issues and closing this due to its age. If this is still an issue, please open a new issue and I can take a look!

Integration Fields are currently inferred by Gatsby since Prismic does not provide information about the data within the Integration Field. It is done this way because Integration Fields can return any kind of data which cannot be predicted.

If you know the shape

[2021-09-08 01:12] #86 closed

[2021-09-08 01:13] angeloashmore commented on #109
I'm cleaning out old issues and closing this due to its age. The current version of the plugin will check for missing schemas and throw an error if any are missing.

[2021-09-08 01:13] #109 closed

[2021-09-08 01:18] angeloashmore commented on #122
I'm cleaning out old issues and closing this due to its age. Sharing Slice types will be possible with Shared Slices once Prismic's [Slice Machine](https://www.slicemachine.dev/) works with Gatsby (in development!).

[2021-09-08 01:18] #133 closed

[2021-09-08 01:18] angeloashmore commented on #137
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:21] angeloashmore commented on #157
I'm cleaning out old issues and closing this due to its age. The current version of the plugin will automatically convert field names with `-` to `_`. If needed, this functionality can be overridden using the `transformFieldName` plugin option ([details here](https://prismic.io/docs/technologies/install-the-plugin-gatsby#3.-configure-the-plugin)).

[2021-09-08 01:23] angeloashmore commented on #158
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

The latest plugin, `gatsby-plugin-prismic-previews`, does away with needing to manually manage preview data.

[2021-09-08 01:23] #158 closed

[2021-09-08 01:23] angeloashmore commented on #164
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:23] #164 closed

[2021-09-08 01:23] angeloashmore commented on #166
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:23] #166 closed

[2021-09-08 01:26] angeloashmore commented on #182
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

FYI previews should be handled using `gatsby-plugin-prismic-previews`. It uses `@prismicio/client` to load previews automatically which reads from `window.location`. You should be able to mock the global `window.location` if you need to manually control this flo

[2021-09-08 01:26] #182 closed

[2021-09-08 01:27] angeloashmore commented on #183
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

The latest version of the plugin uses `@imgix/gatsby` for Imgix images. If this is still a problem, I can take a look at the Imgix plugin.

[2021-09-08 01:27] #183 closed

[2021-09-08 01:27] angeloashmore commented on #185
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

The latest version of the plugin uses a different architecture. Reducing the bundle size is on the roadmap for the new plugin as well.

[2021-09-08 01:27] #185 closed

[2021-09-08 01:28] angeloashmore commented on #196
Hey @thetre97, sorry there was no response here. I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:28] #196 closed

[2021-09-08 01:28] angeloashmore commented on #197
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:28] #197 closed

[2021-09-08 01:28] #207 closed

[2021-09-08 01:30] angeloashmore commented on #227
This is done in V4.

[2021-09-08 01:30] #227 closed

[2021-09-08 01:30] angeloashmore commented on #242
I'm cleaning out old issues and closing this due to its age. The latest versions of the plugin use a different architecture that should work as expected.

[2021-09-08 01:30] #242 closed

[2021-09-08 01:33] #254 closed

[2021-09-08 01:47] angeloashmore commented on #258
I'm cleaning out old issues and closing this due to its age. The current version of the plugin allows this using the `apiEndpoint` plugin option ([details here](https://prismic.io/docs/technologies/install-the-plugin-gatsby#3.-configure-the-plugin)).

[2021-09-08 01:47] #258 closed

[2021-09-08 01:48] angeloashmore commented on #261
I'm cleaning out old issues and closing this due to its age. The new preview plugin, `gatsby-plugin-prismic-previews` supports this now!

You can learn more here: https://prismic.io/docs/technologies/previews-gatsby

[2021-09-08 01:48] #261 closed

[2021-09-08 01:49] angeloashmore commented on #262
I'm cleaning out old issues and closing this due to its age. The Prismic Toolbar currently can only predict documents on the page, but it isn't always accurate, especially for static sites. Until the Prismic Toolbar supports a way for sites to tell it which documents are on a page, the current prediction strategy will be used.

[2021-09-08 01:50] angeloashmore commented on #263
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:50] #263 closed

[2021-09-08 01:51] angeloashmore commented on #264
I'm cleaning out old issues and closing this due to its age. This strategy was implemented in `gatsby-plugin-prismic-previews` ([details here](https://labs.walltowall.com/gatsby-source-prismic-v4-roadmap/#private-plugin-options)).

Thanks again @patspam for the idea!

[2021-09-08 01:51] #264 closed

[2021-09-08 01:51] angeloashmore commented on #265
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:51] #265 closed

[2021-09-08 01:52] angeloashmore commented on #267
Hey @agoldenduck, sorry I didn't reply to this issue!

I'm cleaning out old issues and closing this due to its age. GraphQuery is now possible using the `graphQuery` plugin option as mentioned in your PR.

[2021-09-08 01:52] #267 closed

[2021-09-08 01:53] angeloashmore commented on #273
I'm cleaning out old issues and closing this due to its age. The new preview plugin, `gatsby-plugin-prismic-previews`, fully supports Releases. This allows you to preview multiple documents edits at once before publishing.

[2021-09-08 01:53] #273 closed

[2021-09-08 01:54] angeloashmore commented on #275
I'm cleaning out old issues and closing this due to its age. This should be fixed in the latest version of the plugin. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:54] #275 closed

[2021-09-08 01:55] angeloashmore commented on #277
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:55] #277 closed

[2021-09-08 01:55] angeloashmore commented on #278
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:56] angeloashmore commented on #281
Hey @drewlonious, sorry I didn't reply to your issue. I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:56] #281 closed

[2021-09-08 01:56] angeloashmore commented on #282
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:56] #282 closed

[2021-09-08 01:56] angeloashmore commented on #284
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:56] #284 closed

[2021-09-08 01:59] angeloashmore commented on #291
Hey, sorry I didn't get a chance to reply here. I'm cleaning out old issues and closing this due to its age.

As far as handling multiple languages with static queries, the only way to do this is to query all languages and find/filter the correct one in JavaScript at runtime.

If you add the query to your pages, however, you have access to page context via variables. You should be able to set a `$

[2021-09-08 01:59] #291 closed

[2021-09-08 01:59] angeloashmore commented on #292
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 01:59] #292 closed

[2021-09-08 02:02] angeloashmore commented on #295
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 02:02] #295 closed

[2021-09-08 02:04] angeloashmore commented on #303
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 02:04] #303 closed

[2021-09-08 02:07] #367 closed

[2021-09-08 02:08] angeloashmore commented on #317
I'm cleaning out old issues and closing this due to its age. The latest version of the plugin supports `gatsby-plugin-image` using `@imgix/gatsby`. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 02:08] #317 closed

[2021-09-08 02:09] angeloashmore commented on #315
I'm cleaning out old issues and closing this due to its age. The current version of the plugin will automatically transform field names with `-` into `_`. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 02:09] #315 closed

[2021-09-08 02:09] angeloashmore commented on #318
I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 02:09] #318 closed

[2021-09-08 02:10] angeloashmore commented on #320
I'm cleaning out old issues and closing this due to its age. Plugin option validation is more advanced now and will tell you if a schema is missing. If this is still a problem, please open a new issue and I will take a look!

[2021-09-08 02:10] #320 closed

[2021-09-08 02:12] angeloashmore commented on #331
Hey @NLeRoy917, sorry you didn't get a reply here. I'm cleaning out old issues and closing this due to its age. If this is still a problem, please open a new issue and I will take a look!

FYI this error probably appeared because the plugin did not receive a Link Resolver function. The latest version of `gatsby-plugin-prismic-previews` was a rewrite of the preview functionality that should work be

[2021-09-08 02:12] #331 closed

[2021-09-08 02:14] angeloashmore commented on #357
This will be included in the next major release.

[2021-09-08 02:14] #357 closed

[2021-09-08 02:15] angeloashmore commented on #395
This will be included in the next major release.

[2021-09-08 02:15] #395 closed

[2021-09-08 02:16] angeloashmore commented on #401
I think the original issue was solved here, but please feel free to comment here or open a new issue if this is still a problem. Thanks!

[2021-09-08 02:16] #401 closed

[2021-09-08 02:16] angeloashmore commented on #407
This will be fixed in the next major release. Thanks for bringing this up @jodiedoubleday!

[2021-09-08 02:18] angeloashmore commented on #429
I'm going to close this as schema customizations are working as expected. The IDs returned from `gatsby-source-shopify` and the IDs returned by Prismic's Shopify Integration Fields are different which could be causing this to appear broken.

This may require a special resolver to be passed to `createTypes`.

[2021-09-08 02:18] #429 closed

[2021-09-08 02:20] angeloashmore commented on #431
I'm going to close this issue as it turned out the error came from importing the Link Resolver incorrectly.

I've opened a new issue to provide a better warning: https://github.com/prismicio/prismic-gatsby/issues/442

[2021-09-08 02:20] #431 closed

[2021-09-08 08:42] nooxx commented on #444
@angeloashmore There is no error in incognito mode indeed. However I still see a blank page on /preview.

[2021-09-08 14:11] iriepixel commented on #445
Hi @angeloashmore
I spoke to Simon and reported this issue. We are not sure is it Prismic or Gatsby. How can I help you with investigation? What information do you need from me?

[2021-09-08 19:55] angeloashmore commented on #444
Ah, okay, at least we can rule out the toolbar as the issue.

Everything you posted looks normal. Since it is working locally, your code should be correct.

On your staging site, could you perform the following?

- Verify that your environment variables are up to date (`GATSBY_PRISMIC_REPOSITORY`, `GATSBY_PRISMIC_TOKEN`).
- Clear the build cache and rebuild the site.

If it still does not work, it

[2021-09-10 02:47] angeloashmore commented on #445
Hey @iriepixel, I just tried the *Steps to reproduce* above and everything thing worked as expected:

1. Publish a document.
2. Build the site.
3. Unpublish the document.
4. Rebuild the site.
5. The unpublished document's page is gone.

Based on this, my initial guess is that it could be related to one of the following:
- Gatsby Cloud's caching or incremental builds (if you use Gatsby Cloud), or
-

[2021-09-10 07:44] iriepixel commented on #445
Hi @angeloashmore ,

Thank you for your reply.

You are absolutely right. I'm using Gatsby Cloud and this issue is only happens when incremental build triggered by webhook from Prismic. Once I clear cache and trigger build command manually on Gatsby Cloud the issue is gone. Here is what I use:

1. Gatsby Cloud
2. I'm creating pages automatically in `gatsby-node` and `createPage`

I've sent you fil

[2021-09-10 07:48] angeloashmore commented on #445
Thanks for the details! It sounds like the plugin is not correctly deleting the node when aggressive caching is enabled (such as on Gatsby Cloud).

I'll need to test things out and will likely require a small plugin update. I will let you know once I learn more and find a fix. Thanks!

[2021-09-10 07:49] iriepixel commented on #445
@angeloashmore Thank you!

[2021-09-13 18:47] heart-of-code commented on #445
I'm experiencing a similar issue with Custom Types

1. archived and deleted Custom Type in prismic.io
  - note: a pre-requisite to fully delete a Custom Type is to delete all of the Document instances of that type
2. remove now-unused schemas from gatsby-config.js
3. run `gatsby build`

expected:
build successfully, no longer using the removed Custom Types

actual:
receive error `JSON schema for "

[2021-09-13 19:32] angeloashmore opened #446 "Document how to provide deleted Custom Type schemas"
### Is your feature request related to a problem? Please describe.

Custom Types that have been used at least once and deleted still need to be provide to the plugin. This is required because the Prismic API returns a list of all Custom Types for a repository, including deleted ones.

The official way to address this is to provide an empty object (`{}`) as the schema like the following example:

[

[2021-09-13 22:03] heart-of-code commented on #445
Ah, well thank you for clearing that up! 🙌

On Mon, Sep 13, 2021, 3:33 PM Angelo Ashmore ***@***.***>
wrote:

[2021-09-15 14:08] kilinkis opened #447 "After enabling `transformFieldName`, I get 'Cannot return null for non-nullable field'"
### Versions

- gatsby-source-prismic: 4.0.2 (also tried with latest stable 4.1.2)
- gatsby-plugin-prismic-previews: 4.0.2 (also tried with latest stable 4.1.3)
- node: v14.16.0

### Reproduction

[code]

### Steps to reproduce
1. Enable `transformFieldName` flag.
2. Start dev server and run a query like this:
[code]

### What is expected?
1. All fields are converted
2. Data to be returned normall

[2021-09-15 15:28] benjaminwaterlot commented on #445
Hey @angeloashmore, just wanna feedback that we encounter the same problem with unpublishing documents.

They systematically seem to remain through the Gatsby Cloud incremental build and we have to trigger a build manually each time we want to unpublish something.

[2021-09-15 15:43] benjaminwaterlot commented on #403
Hello @angeloashmore,

We've got the same problem here - shareable preview links only work if you're connected to Prismic, which defeat the purpose of generating a shareable link.

I tried switching the repository security to `Open API` with no success.

If I'm not mistaken, the shareable link is functionally identical to the actual URL of the resource you're sharing: you'll see the preview if you

[2021-09-15 18:33] angeloashmore commented on #445
Thanks @benjaminwaterlot, I was able to reproduce this issue myself as well.

I spoke with someone on the Gatsby team about the issue. It is a Gatsby Cloud-specific issue with sending webhooks to the plugin and they are working on a fix. Once I hear back from them, I'll post here.

[2021-09-15 18:39] angeloashmore commented on #447
Hi @kilinkis, thanks for providing these details.

The `transformFieldName` option will only transform fields within `data`. These are fields that are defined by your Custom Types, which may contain invalid GraphQL names (like `my-field` with a dash). Fields outside `data`, like `first_publication_date`, are left as is from the Prismic API.

You should not see the "Cannot return null for non-nulla

[2021-09-15 18:52] angeloashmore commented on #403
Hey @benjaminwaterlot, the share link from the Prismic Toolbar will give you a short link (looks like `https://prismic.link/abc123`).

That link will do the following:

1. Send you to a Prismic page that sets the preview cookie in the browser.
2. Redirects the user to the shared page on your site. Since the cookie is now present, the preview session will start.

Are you sharing the Prismic share l

[2021-09-15 19:35] #447 closed

[2021-09-15 19:43] angeloashmore commented on #447
@kilinkis Could you try the latest version of `gatsby-source-prismic`, `v4.1.5`?

There was a bug where all documents fields were transformed using the `transformFieldName` function, including `first_publication_date`. It has been fixed to only transform the `data` field.

[2021-09-15 19:59] kilinkis commented on #447
thanks for the answers @angeloashmore, will try that version in the morning (Europe) :)

[2021-09-16 14:42] kilinkis commented on #447
hi @angeloashmore updating to that version did the trick :) thanks for your reply!

[2021-09-16 16:23] nooxx commented on #444
So the issue comes from the link resolver config within prismic, when hosting on AWS, you must set it to "/preview/" with a trailing slash.

Apparently AWS removes query parameters when URL doesn't have a trailing slash and that causes the redirect to fail.

[2021-09-16 16:23] #444 closed

[2021-09-16 19:36] DennisKraaijeveld commented on #416
Thanks! So as far as I know right now, there isn't any way of using the plugins (V4 and Shopify) together? Or did you manage to got V4 to work with the gatsby shopify plugin? :)

[2021-09-17 04:22] angeloashmore commented on #447
Haha awesome, glad to hear it works! 😄

[2021-09-22 13:44] kb1995 commented on #403
@angeloashmore Just wanted to flag that I'm experiencing the same problem.

1. My Privacy Settings is Public API for master only
2. When I create a sharable link for a unpublished document and go in incognito/another browser, i get a 404
3. When I create a sharable link for a published document (with changes) and go in incognito/another browser, i get the published document.

From what I saw, the

[2021-09-23 01:09] angeloashmore commented on #445
@iriepixel @benjaminwaterlot This has been resolved by the Gatsby team and required as small fix to `gatsby-source-prismic`.

Could you update to `gatsby-source-prismic@4.1.6` and try it out? I'll close the issue but let me know if anything goes wrong.

Thanks!

[2021-09-23 01:09] #445 closed

[2021-09-24 20:56] Casdak7 commented on #416
I would really like to know as well.

[2021-09-25 21:35] moneal commented on #416
This lacks options to getting some data in handy Shopify formats like variation prices and I haven't been able to get image helpers functioning yet.

[2021-09-26 01:50] angeloashmore commented on #416
Hey @Casdak7 and @moneal, fixing this requires a change within `gatsby-plugin-image` which both the Prismic and Shopify plugins use. A PR with the fix has already been open but requires a review from and potentially some discussion with the Gatsby team.

**Pull request**: https://github.com/gatsbyjs/gatsby/pull/32544

Feel free to comment on the PR to help push it along 😉.

[2021-09-26 06:40] Coffee-Up commented on #446
I have adressed them this issue, they told me that they will work on it.

[2021-09-29 07:27] benjaminwaterlot commented on #403
At our company we finally decided to stop using the preview feature of Prismic and instead use a `Staging` release, and set an env variable for our staging website to define the release which we should pull content from.

The preview feature has been
* a bit too confusing for editors (they can't seem to be certain they are previewing published or preview content, and when they share the previews w

[2021-09-29 09:23] rundas912 opened #451 "Url decoding special characters"
Hello,

As mentioned in issue #404 and #194, I also have a problem with the plugin decoding special characters like the "+" sign or the "%" sign messing up my urls and giving me 404. I thought this was solved with #405 but it doesn't seem to work on my side.

### Versions

- gatsby-source-prismic: 4.1.6
- node: v15.0.1
- gatsby : v3.14.0

[2021-09-29 14:24] chriscarrillo opened #452 "Image URL's with "#" in the file name are not properly decoded in v4"
### Versions

- gatsby-source-prismic: v4.1.6
- gatsby-plugin-prismic-previews: v4.1.3
- node: v14.17.5

### Steps to Reproduce
1. Upload an image with a file name that has a "#" character, in my case, it's `Peter_#3.JPG`.
2. Add the image to a content item.
3. In Gatsby, query the image's URL. Below is what my query looks like:
[code]
4. Add the URL to the src of an `<img />` element.
5. Notice t

[2021-09-30 07:33] tjjjwxzq opened #453 "Previews for unrelated documents break on null data with FIELD_VALUE_TYPE_PATH_MISMATCH_MSG"
### Versions

- gatsby-source-prismic: 4.1.2
- gatsby-plugin-prismic-previews: 4.1.3
- node: 16.1.0

### Reproduction

When content relationship fields are null due to improperly linked data in a certain document (and it seems, specifically when the content relationship is a newly added field to the custom type, for which there are pre-existing documents), previews break across the board, even for

[2021-09-30 14:54] HammadUllahKhan12 opened #454 "localFile is coming null in the Prismic response."
We recently update the gatsby packages and use the gatsby-image-plugin because gatsby-image is deprecated.
But we are facing this the all the prismic endpoints return the localFile null because of this we were unable to load the image.
I am share some of code snippet. Please have a look & let me know if i miss something.

This is the code-snippet example :
[code]
and here is the screenshot of the

[2021-10-01 01:32] angeloashmore commented on #454
Hi @HammadUllahKhan12, which version of `gatsby` and `gatsby-source-prismic` are you using? You can run the following command to list all of your plugins and versions: `npx gatsby info`

Your query looks okay. If it shows `null`, it means either a file was not selected for the field (not the case here), or the plugin did not download the file.

---

By the way, I would recommend using the Imgix UR

[2021-10-01 03:03] angeloashmore commented on #452
Hi @chriscarrillo, thank you for reporting this.

The issue comes from `@imgix/gatsby`, which is used for the `url`, `gatsbyImageData`, `fixed`, and `fluid` fields. I have submitted a PR to fix this. Once it is merged and published, I will publish a new version of `gatsby-source-prismic` with the updated `@imgix/gatsby` version.

Related PR: https://github.com/imgix/gatsby/pull/141

I know this is

[2021-10-01 03:07] angeloashmore commented on #451
Hi @rundas912, can you provide an example URL? Both the working URL directly from Prismic and the resulting broken URL?

With these, I can test where the plugin is improperly processing special characters.

Thank you!

[2021-10-01 03:13] angeloashmore commented on #453
@tjjjwxzq Thank you for providing a detailed report!

I understand what you're describing. I will do some tests and find a fix.

You are correct in assuming that all previews fail because all documents are processed even when previewing just one document. For some background info, the plugin does this because we need all documents during a preview in order to support content relationships. We can'

[2021-10-01 03:42] angeloashmore commented on #453
@tjjjwxzq Here is what I tested:

1. Create a Custom Type with any field.
2. Create a document of that type.
3. Add a Link field to the Custom Type.
4. Go back to the document and preview it. Do not edit or publish any changes.

The preview works. The document will *not* have a data field for the new field (e.g. if you add a "my_link" field, "my_link" will not be a property within `data`).

Next,

[2021-10-01 06:47] rundas912 commented on #451
hello @angeloashmore , sorry I should have been more precise. For example, here is the url of my image set in prismic :
"https://images.prismic.io/utopixwebsite/9480e245-cb7f-4b7c-97e6-683db41736ca_Illustrations+emojis+L.png?auto=compress,format&w=900"

And here is what I get when I query the url of the image in my app :
"https://images.prismic.io/utopixwebsite/9480e245-cb7f-4b7c-97e6-683db41736ca

[2021-10-01 07:05] rundas912 commented on #451
hello @angeloashmore , sorry I should have been more precise.

For example, here is the url of my image set in prismic :
"https://images.prismic.io/utopixwebsite/9480e245-cb7f-4b7c-97e6-683db41736ca_Illustrations+emojis+L.png?auto=compress,format&w=900"

And here is what I get when I query the url of the image in my app :
"https://images.prismic.io/utopixwebsite/9480e245-cb7f-4b7c-97e6-683db41736c

[2021-10-01 08:02] HammadUllahKhan12 commented on #454
hey @angeloashmore Thanks for your quick feedback. I appreciate that.

In our gatsby-config.js we have configured
[code]
Due to some internet connectivity issue. It gives timeout error. Do we have any way to increase the time out for this.

[2021-10-01 13:04] chriscarrillo commented on #452
Hi @angeloashmore. Thank you so much!

[2021-10-01 18:58] angeloashmore commented on #452
Hey @chriscarrillo, the PR was merged and I just published new versions of the Prismic plugins.

- `gatsby-source-prismic`: `v4.1.7`
- `gatsby-plugin-prismic-previews`: `v4.1.7`

Could you try the updated versions and let me know if they work? Thanks!

[2021-10-01 18:58] #452 closed

[2021-10-01 19:57] angeloashmore commented on #451
Hey @rundas912, no problem, thanks for providing those details. 🙂

The issue comes from using react-imgix with the URLs from `gatsby-source-prismic`. Imgix expects all URLs to be decoded (e.g. `"%20"` should be a literal space, `" "`) and then outputs encoded URLs (`" "` will turn into `"%20"`).

Since we are using `@imgix/gatsby` in `gatsby-source-prismic` (which uses `@imgix/js-core` like `react

[2021-10-01 19:57] #451 closed

[2021-10-01 20:00] angeloashmore commented on #454
@HammadUllahKhan12 I see, this means you are using `gatsby-source-prismic` V3. The plugin will download all images *unless* that function returns `false`. In most cases, the code snippet you posted above is good.

You could try to reduce the number of concurrent downloads by setting the `GATSBY_CONCURRENT_DOWNLOAD` environment variable. By default, that value is set to 200 concurrent downloads.

[

[2021-10-01 20:10] angeloashmore commented on #403
Hey @benjaminwaterlot, sorry the preview setup didn't work well for you. In most cases, `gatsby-plugin-prismic-previews` works sufficiently for previews. For complex setups where you are using custom `gatsbyImageData` arguments and large GraphQL queries, Gatsby Cloud may be a better fit.

Because Gatsby is primarily a static site generator, there is no server to run Gatsby's GraphQL API during a p

[2021-10-04 01:05] tjjjwxzq commented on #453
Thanks @angeloashmore for looking into it and the detailed test cases + underlying explanation of behaviour. I do think it was scenario 1 that broke for me even though you say that saving any document of a specific custom type should clear the cache for all documents of that custom type and previews should work thereafter. However, I was transitioning between `gatsby-plugin-prismic-preview` versio

[2021-10-04 11:43] rundas912 opened #455 "Vimeo thumbnail changed"
Hello :)

After upgrading my site to gatsby v3 and upgrading your plugin to the latest version (from 3.3.1. to 4.1.7) it looks like I don't receive the right thumbail urls from my vimeo videos anymore.

For example, after setting up an embed field in prismic with my video, here is the url I used to get for my thumbnail :
"https://i.vimeocdn.com/video/1069849511-51e95ff2ecee8c1053490881fca35cc18b5a

[2021-10-04 12:15] kb1995 commented on #403
@angeloashmore Sorry for the ping, but do you have any updates regarding the Shareable links? My client has been wanting to use it over the last 2 weeks in order to share blog posts with their internal team/clients

[2021-10-04 15:24] matthewlein commented on #435
This is currently blocking all my builds. Can you point me to where I can hack a hardcoded value into the plugin in a fork until this is added? I can't make any sense of this repo and code...

[2021-10-04 21:46] angeloashmore commented on #435
@matthewlein Sorry for the delay! I'll add the option and worry about updating it for the refactor later. I'll post here once it's published.

[2021-10-04 23:27] angeloashmore commented on #435
@matthewlein Thanks for your patience! The PR has been merged (https://github.com/prismicio/prismic-gatsby/pull/456).

You can update to the latest versions which now has a `pageSize` option.

- `gatsby-source-prismic`: `v4.2.0`
- `gatsby-plugin-prismic-previews`: `v4.2.0`

Then in `gatsby-config.js`:

[code]

[2021-10-04 23:27] #435 closed

[2021-10-05 17:09] matthewlein commented on #435
@angeloashmore Thanks for the quick turnaround!

The update turned out to be pretty lengthy, I was on 3.x, but it all worked in the end. Builds resumed!

[2021-10-05 18:56] angeloashmore commented on #435
Great! Glad to hear it's working for you.

Hopefully you found the V3 to V4 migration guide. In case you didn't, here's a reference: https://prismic.io/docs/technologies/gatsby-source-prismic-v3-to-v4

[2021-10-06 04:33] dnlmzw opened #457 "Error when building schema"
### Versions

- gatsby-source-prismic: ^4.2.0
- gatsby-plugin-prismic-previews: ^4.2.0
- node: v12.16.3

I get the following error in my console, when trying to start my development server. I've tried reinstalling the node_modules folder and have cleared the gatsby cache. Not sure where to go from here:

[code]

<details open>
<summary>Additional Details</summary>
[code]
</details>

### Steps to r

[2021-10-06 19:52] angeloashmore commented on #457
Hey @dnlmzw, glad you found the fix. `gatsby-plugin-image` was recently updated (`v1.14.1`) and is now required to be added to `gatsby-config.js`.

Our docs are being updated to include this. Thanks!

[2021-10-07 15:40] kb1995 opened #458 "Don't load preview iframes if not in a preview"
Hey Angelo,

Once again, thanks for the awesome work and I like what you are doing with v5.

I've been doing some performance optimisations for a client's Gatsby website and I noticed that there is an `iframe` which is being loaded on page load - from the looks of it without a `defer`.

It takes ~340ms which is 7x more than my next longest file on page load.

Can we either add a defer load on this

[2021-10-08 05:46] larsenwork opened #459 "Add setting to allow schemas array to be non-exhaustive for gatsby-source-prismic"
### Is your feature request related to a problem? Please describe.

When adding a new custom type in prismic our site becomes non-buildable until we update options for `gatsby-source-prismic` in our `gatsby-config` to contain that schema.

### Describe the solution you'd like

Something like this:

[code]

That would make the plugin not fail even if I added e.g. `custom-two` type in prismic.

###

[2021-10-08 20:33] angeloashmore commented on #416
Awesome! Thank you @DennisKraaijeveld for bringing this issue up. Glad it's working now. 🙂

[2021-10-14 07:06] richard-underwood opened #460 "imageImgixParams not being honoured to prevent format conversion"
### Versions

- gatsby-source-prismic: v4.2.0
- gatsby-plugin-prismic-previews: not installed
- node: v16.10.0

### Reproduction

Store a PNG image in Prismic, use imageImgixParams to prevent conversion to JPEG.

<details open>
<summary>Additional Details</summary>
<br>
Plugin configuraton:

[code]

GraphQL query (testing only):
[code]
</details>

### Steps to reproduce

1. Add an image to Prismic

[2021-10-15 21:29] angeloashmore commented on #403
I'm going to close this issue as share links are working, but please report here if this is not the case and I will reopen it.

[2021-10-15 21:29] #403 closed

[2021-10-18 04:42] #453 closed

[2021-10-18 17:53] AntoninBarbier opened #461 "Invalid API Response was returned due to invalid plugin configuration"
Hello everyone,

I'm new to Gatsby and Prismic and I can't figure out how to make this plugin work.
I followed this documentation
https://prismic.io/docs/technologies/install-the-plugin-gatsby
and this one
https://www.gatsbyjs.com/docs/how-to/sourcing-data/sourcing-from-prismic/
and I did the following:
- created my API token using the Prismic interface
- installed the plugin with `npm install gat

[2021-10-19 19:08] marcomiduri opened #462 "Preview not working v5"
### Versions

- gatsby-source-prismic: ^5.0.0-next.0
- gatsby-plugin-prismic-previews: ^5.0.0-next.0
- node: v16.3.0

### Reproduction

- gatsby-config.js
[code]
- preview.jsx
[code]
- gatsby-browser.js, gatsby-ssr.js
[code]
### What is actually happening?

I just followed the v4 to v5 migration and prismic documentation but preview is not working. I am not sure if I missed something on there.

Er

[2021-10-19 21:03] angeloashmore commented on #462
I'm going to close this as it should work as expected on the latest version, but please comment if it is still broken and I will reopen this.

[2021-10-19 21:03] #462 closed

[2021-10-20 00:14] marcomiduri opened #463 "Removed content type is making error in the latest version"
### Versions

- gatsby-source-prismic: ^5.0.0-next.9
- gatsby-plugin-prismic-previews: ^5.0.0-next.9
- node: v16.3.0

### Reproduction

- gatsby-config.js
[code]
- preview.jsx
[code]
- gatsby-browser.js, gatsby-ssr.js
[code]
### What is actually happening?

I created a new content type `new_links` and removed it. After that, I had to add it to the schemas in `gatsby-config.js` like this.
[code]

E

[2021-10-20 00:17] marcomiduri commented on #462
@angeloashmore Great! thank you. looks like this issue is resolved now but I am getting another issue and opening a new issue now.  https://github.com/prismicio/prismic-gatsby/issues/463

[2021-10-20 15:35] OleksandrRakovets commented on #458
I will vouch for such improvement -- just came in to post a similar issue.

`toolbar.js` weighs a 1/4 of scripts on my website (another 1/2 is GA & GTM though 😒). It would be great to limit its loading to editors from all visitors.

Our editors use *.netlify.app mirror not to interfere with analytics on the public domain. I hoped to only enable preview script on that domain, but Gatsby does not pr

[2021-10-20 19:49] angeloashmore commented on #463
Hey @marcomiduri, thanks for catching that. I just published a new version that fixes this issue. Could you use the latest versions?

- `gatsby-source-prismic`: `v5.0.0-next.11`
- `gatsby-plugin-prismic-previews`: `v5.0.0-next.10`

If you are able to, I would recommend using the Custom Types API over providing the schemas manually. Instructions can be found here: https://prismic.io/docs/technologi

[2021-10-20 19:49] #463 closed

[2021-10-20 21:30] marcomiduri opened #464 "Preview not working on v5"
### Versions

- gatsby-source-prismic: ^5.0.0-next.11
- gatsby-plugin-prismic-previews: ^5.0.0-next.10
- node: v16.3.0

### Reproduction
If you click preview icon on prismic website, it opens localhost and goes to /preview URL first. After that it goes to the specific page but it loads a lot of data from search query. After a while, it shows error to me.

- gatsby-config.js
[code]
### What is actu

[2021-10-20 22:34] angeloashmore commented on #464
Hey @marcomiduri, `schemas` should always match what is present in Prismic. The empty object schema is supported only for Custom Types that have been deleted.

You can copy the JSON file in the project and `require()` it like the others. If you use the Custom Types API via `customTypesApiToken`, this will be done for you automatically.

I recommend using the Custom Types API as it will always have

[2021-10-20 22:34] #464 closed

[2021-10-20 22:35] angeloashmore commented on #463
@marcomiduri Yes, I would recommend using the Custom Types API. This will ensure the schemas are always up to date in Gatsby when you make changes in Prismic.

[2021-10-22 09:34] jodiedoubleday opened #467 "styles.css is not exported from package"
### Versions

- gatsby-source-prismic: 5.0.0
- gatsby-plugin-prismic-previews: 5.0.0
- node:14.17.3

### Steps to reproduce
Update to Gatsby v4 and Prismic  5.0.0 (fantastic work on getting that out so quickly) and running any application as normal `gatsby develop`

### What is expected?
The build to complete successfully and Prismic CSS files to resolve.

### What is actually happening?
` ModuleN

[2021-10-26 07:58] hazem3500 opened #468 "Unpublished page showing blank screen on preview"
### Versions

- gatsby-source-prismic: v5.0.0
- gatsby-plugin-prismic-previews: v5.0.0
- node: v14.15.0

### Steps to reproduce

So I'm trying to preview an unpublished page from Prismic.
I'm passing the component resolver to `PrismicPreviewProvider` in `gatsby-browser.js`
[code]

And in the 404 page, I'm wrapping the page with the `withPrismicUnpublishedPreview` HOC

[code]

But I'm getting a bla

[2021-10-29 14:25] kb1995 opened #469 "Preview of unpublished page results in a Runtime.ImportModuleError error"
### Versions

- gatsby-source-prismic: ^5.0.0
- gatsby-plugin-prismic-previews: ^5.0.0
- node: v14

### Steps to reproduce

- Configure Previews as explained in https://prismic.io/docs/technologies/previews-gatsby
- Deploy to Netlify in a preview branch
- Set up preview of that branch on Prismic
- Attempt to preview an unpublished document (previews work without a problem for published documents w

[2021-10-29 18:40] angeloashmore commented on #469
Hey @kb1995, are you using Gatsby 4's DSG or SSR rendering methods?

[2021-10-29 21:15] angeloashmore commented on #468
@hazem3500 Do you have `<PrismicPreviewProvider>` in both `gatsby-browser.js` and `gatsby-ssr.js`? If not, can you make sure both have the same `wrapRootElement`?

If that does not fix it, could you copy or screenshot the whole console error, including the stack trace? I can't tell where that error is coming from. Thanks!

[2021-10-29 21:33] angeloashmore commented on #461
Hey @AntoninBarbier, I haven't heard back on https://community.prismic.io/. I tested your repository name and access token successfully so I'm not sure what the error is. Could you double check that they are being passed correctly in `gatsby-config.js`?

I'm going to close this issue as it should be working. If you are still experiencing this issue, please let me know and I can take a look again.

[2021-10-29 21:33] #461 closed

[2021-10-29 21:37] angeloashmore commented on #460
Hey @richard-underwood, sorry for the delay in response.

The Imgix options (`imageImgixParams` and `imagePlaceholderImgixParams`) are only for the Imgix image fields. These include `gatsbyImageData`, `fluid`, `fixed`, and `url`, but it does *not* include `localFile`.

After thinking about this more, I think the best approach is to keep it this way rather than have the Imgix params affect the loca

[2021-10-29 21:40] richard-underwood commented on #460
Thanks for the reply, that makes complete sense and would solve my problem. Cheers.

[2021-10-29 21:54] angeloashmore commented on #459
I'm going to close this issue as the Custom Types API is the recommended solution to always having the latest Custom Types in your project.

Feel free to comment here if you want to continue the discussion and I can reopen it. Thanks!

[2021-10-29 21:54] #459 closed

[2021-10-29 22:00] angeloashmore commented on #455
Hi @rundas912, I apologize for the very late reply!

You may have learned about this already, but Vimeo recently changed the way thumbnail URLs are provided. Basically, it seems like you now need to make an additional API call to get a thumbnail. I'm having trouble finding a clear way of doing this, but I believe the steps are provided here: https://developer.vimeo.com/api/upload/thumbnails

I fou

[2021-10-29 22:00] #455 closed

[2021-10-29 22:01] angeloashmore commented on #446
This is included as part of V5. The following message will be printed if a missing schema is found:

[code]

[2021-10-29 22:01] #446 closed

[2021-10-29 22:02] angeloashmore commented on #437
V5 should fix this issue. If plugin options are invalid, it won't prevent `@prismicio/client` from getting a valid `fetch` function now.

[2021-10-29 22:02] #437 closed

[2021-10-29 22:02] angeloashmore commented on #419
This is included as part of V5.

[2021-10-29 22:02] #419 closed

[2021-10-29 22:03] angeloashmore commented on #417
This is included in V5.

[2021-10-29 22:03] #417 closed

[2021-10-29 22:04] angeloashmore commented on #380
This is most likely due to blocked cross-site cookies. For previews to work in any browser, including Brave, cross-site cookies must be allowed for `prismic.io`.

[2021-10-29 22:04] #380 closed

[2021-10-29 22:23] angeloashmore commented on #467
An empty CSS file has been added in `v5.0.1`. It will be removed in `v6.0.0`.

[2021-10-29 22:23] #467 closed

[2021-10-29 22:27] angeloashmore commented on #460
@richard-underwood Great, the change has been published in `v5.0.1`. Could you try it out and let me know if that fixes your issue?

[2021-10-29 22:27] #460 closed

[2021-10-29 22:29] angeloashmore commented on #460
I just saw you are on V4. Here is a migration guide to go from V4 to V5: https://prismic.io/docs/technologies/gatsby-prismic-v4-to-v5

It should be fairly quick to upgrade. `v5.0.1` just also includes the ability to opt-in to all file downloads. If you don't want to list all of your files individually like it is shown in the migration guide, you can provide this instead:

[code]

[2021-10-29 22:31] angeloashmore commented on #454
@tiste This is now supported in `v5.0.1`. See #470 for more details.

Here's a quick example of what you can provide to `shouldDownloadFiles` now:

[code]

[2021-10-29 22:31] #454 closed

[2021-10-29 22:37] angeloashmore commented on #361
Hi @txprojects88, it's possible the `tags` property on the document is undefined. That is unusual, but you could fix it with this:

[code]

Note the `?.` after `docs.tags`. This is called [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining).

[2021-10-30 06:04] tiste commented on #454
@angeloashmore great! Many thanks.

[2021-10-30 10:53] tiste commented on #454
I just tested it may interest you @angeloashmore.
From a clean install, it works pretty well, all images are there, and GraphQL queries are filled in.
But if I shut down gatsby and relaunch it, it seems it loses all the image path, and GraphQL queries became `null`.

[2021-10-31 06:54] hazem3500 commented on #468
Oh, while both `gatsby-browser` and `gatsby-ssr` had `PrismicPreviewProvider`, I wasn't passing the `repositoryConfigs` to the one in `gatsby-ssr` 😅

unfortunately, it still didn't fix the issue 😢

When I preview in dev mode, I get an empty page and consoling logging the GraphQL query data of the page template, it gives me the data for the 404 page.

When I preview after build, it gives an error
[

[2021-10-31 18:26] kb1995 commented on #469
@angeloashmore No, just using the generic way of creating dynamic pages - the same method I'm using for another Gatsby website which is currently on Gatsby 3/ prismic-gatsby v4

Here is my `gatsby-node.js` if that helps:

[code]

[2021-11-01 07:54] larsenwork commented on #459
Thanks, sorry — we migrated to using the `custom types api` and it works just fine 👍

[2021-11-01 17:32] kb1995 commented on #469
Small update - I just realised that a non-prismic 404 page also gives this error. Seems to be related to Netlify Functions, as my 404/previews work in development/local builds.

I will follow up once I have more info

[2021-11-01 18:47] angeloashmore commented on #459
Awesome, no worries! Glad to hear it works!

[2021-11-02 10:14] richard-underwood commented on #460
Thanks - I'll try an upgrade shortly.

[2021-11-02 11:40] richard-underwood commented on #460
It's mostly working, but fails on one image - the height was wrong with the asset, but I think it's likely that the problem is because there are multiple dots in the filename. The image is served by Prismic as image/png.

[code]

[2021-11-02 11:52] richard-underwood commented on #460
Hmm, I've found an instance which works that has two dots:

https://images.prismic.io/xxxx/c09bf29a-xxxx-4a66-bbf7-d5f64b620dc9_CS3.1_LAND.png

Is there a log I can look through anywhere?

[2021-11-02 12:11] richard-underwood commented on #460
OK, I've restarted Gatsby develop, and it's now doing the same thing but on a different image in the same object, so it looks like it's random, possibly a timing error.

[2021-11-02 22:03] angeloashmore commented on #460
@richard-underwood Thanks for the details. I will test on my side to see what is happening. Thanks for your patience - I'll post here once I know more.

[2021-11-02 22:04] angeloashmore commented on #460
There isn't a built-in log to view what is happening right now, but you can add `console.log`s to the library files in node_modules.

I'll add a verbose log when files are downloaded to help debug these issues.

[2021-11-02 23:29] DennisKraaijeveld opened #471 "[V5] Downloaded images not available anymore without running Gatsby Clean first"
### Versions
-"gatsby": "^4.1.0",
-"gatsby-plugin-sharp": "^4.1.0",
-"gatsby-source-prismic": "^5.0.2",
- node: v16.12.0

### Reproduction

Will make a reproduction tomorrow.

### Steps to reproduce
I did set shouldDownloadFiles to true for a specific file like this:

[code]

Before upgrading from `5.0.0` to `5.0.2` everything was working like expected. But now the image will only be available on

[2021-11-03 01:34] #471 closed

[2021-11-03 01:37] angeloashmore commented on #460
@richard-underwood I just published `v5.0.3` with a fix that should solve your issue.

It turned out to be a garbage collection issue. More details are given here: https://github.com/prismicio/prismic-gatsby/pull/472

[2021-11-03 01:37] angeloashmore commented on #454
@tiste Thanks for the report. I just published `v5.0.3` with a fix that should that issue.

It turned out to be a garbage collection issue. More details are given here: https://github.com/prismicio/prismic-gatsby/pull/472

[2021-11-03 01:38] angeloashmore commented on #471
Thanks @DennisKraaijeveld! I just published `v5.0.3` with a fix that should that issue.

It turned out to be a garbage collection issue. More details are given here: https://github.com/prismicio/prismic-gatsby/pull/472

[2021-11-03 01:46] angeloashmore commented on #469
Thanks @kb1995, I'll look out for your follow up if you find anything.

In the mean time, I noticed your `withPrismicUnpublishedPreview` function isn't being provided any repository configuration objects. Do you have it setup in `<PrismicPreviewProvider>` instead? Just checking to make sure this isn't the issue.

[2021-11-03 08:44] DennisKraaijeveld commented on #471
Graci!

[2021-11-03 09:40] richard-underwood commented on #460
Hi again, I think that's helped ... but it's still not working for me! At this point, it could be well be because I'm still on gatsby 3.14 (and gatby-plugin-sharp/gatsby-transformer-sharp 3.12) so if this shouldn't work, then please let me know and I'll start working on the bigger upgrade. However, if it should work with Gatsby 3 ...

Currently I'm using the following fragment for localFIle:

[cod

[2021-11-03 13:05] kb1995 commented on #469
@angeloashmore Thanks for the follow up, yes, I have those provided in PrismicPreviewProvider in both gatsby-browser and gatsby-ssr

I submitted a ticket to Netlify Support - https://answers.netlify.com/t/gatsby-4-runtime-importmoduleerror-on-404-pages/46608/2

[2021-11-03 17:46] #469 closed

[2021-11-03 20:33] angeloashmore commented on #469
Ah, good to know. Thank you for figuring out what was going on. Hopefully the updated Netlify plugin fixes this issue.

[2021-11-04 11:55] richard-underwood commented on #460
I've run the outstanding updates I have (to Gatsby v4) and it's all working now, so I think it's best to leave it be.

Thanks for all your help, all working as expected now.

[2021-11-05 18:37] NeversSync opened #477 "Preview cookie persisting unexpectedly"
Thank you for all the hard work on the recent upgrades, much appreciated!

### Versions

- gatsby-source-prismic: 5.1.0
- gatsby-plugin-prismic-previews: 5.0.3
- node: 14.17.0

### Reproduction

Package.json:
![Screen Shot 2021-11-05 at 11 38 50 AM](https://user-images.githubusercontent.com/20482636/140561985-1d05d954-7026-4892-9ffc-b25b9d561805.png)

## My general configuration:
- I have the `Pri

[2021-11-06 11:12] kb1995 opened #478 "The Route Resolver in Gatsby?"
In Nextjs, we have access to https://prismic.io/docs/technologies/the-route-resolver-nextjs which allows us to create a nested url.

A standard use case is having a BlogPost custom type which is linked to a category. So it would allow you to build URLs such as

`/[category.uid]/[blog-post.uid]`

Is this possible in the current prismic-gatsby plugin? Sorry if it is, I just couldn't find it in the d

[2021-11-07 09:23] hazem3500 commented on #468
@angeloashmore any pointers on how to solve this 😅?

[2021-11-09 11:03] richard-underwood commented on #460
@angeloashmore Apologies for replying to a closed issue - let me know if you'd like a new issue opened. Everything is working for me and the build server in AWS, but our Indian development team aren't able to work.

[code]

I've had a look and found a number of previous issues with the same error, but no real solution (other than disabling image downloads and using Imgix instead).

This may be a G

[2021-11-09 19:34] angeloashmore commented on #468
@hazem3500 I'll test some things out on my side, but could you share your Prismic repository name with me? It could be something specific to a Custom Type model.

If you want to keep it private, you can send me a message on the Prismic forum here: https://community.prismic.io/new-message?username=angeloashmore&title=GitHub%20Issue%20468

Thanks!

[2021-11-10 01:16] angeloashmore commented on #460
@richard-underwood No problem about replying to this thread. If there's a larger issue that we can't solve immediately, then yes, we can move this to a new issue.

This could be happening due network timeouts or unstable connections, potentially related to the geographical differences. File downloading is handled by `gatsby-source-filesystem` so there isn't much I can do in the Prismic plugin. You

[2021-11-10 02:58] angeloashmore commented on #478
Hey @kb1995, good question. Route Resolvers were not supported in the source and preview plugins, but I just merged and published support for them.

A `routes` option is now available where you can provide your Route Resolver objects.

An example is included in the PR here: https://github.com/prismicio/prismic-gatsby/pull/479

Support is included as of these versions:
- `gatsby-source-prismic`: `v

[2021-11-10 02:58] #478 closed

[2021-11-10 10:13] maheshsamudra opened #480 "env.prismicClient.getAll is not a function"
### Versions

- gatsby-source-prismic: v5.2.0
- gatsby: v4.1.2
- node: v14.17.6
- on Windows 10

### Reproduction

1. Install a fresh copy of gatsby using `npm init gatsby` without any other packages
2. Install `gatsby-source-prismic` and `gatsby-plugin-image`
3. Linked the JSON schemas manually.
4. `npm run develop` or `npm run build`

### Displayed error
[code]

<details close>
<summary>Addition

[2021-11-10 11:05] jodiedoubleday commented on #480
I have just experienced the same issue while updating to v5.2.0.
Just trying to roll back to earlier versions to see if i can get things working again.

[2021-11-10 14:02] DennisKraaijeveld commented on #480
Having the same. Which is weird. At first everything worked fine. I think it has to do with Gatsby 4.1

[2021-11-10 16:04] kilinkis opened #481 "Previews started to fail randomly: `No type for path`"
### Versions

- gatsby-source-prismic: 4.1.5
- gatsby-plugin-prismic-previews: 4.1.3
- node: 14
- gatsby: 3.8.0

### Reproduction

Two of our editors started having this issue today:
<img width="619" alt="image" src="https://user-images.githubusercontent.com/133504/141148003-180b4ffa-ed74-411d-8a3f-a6c9b5451c62.png">

It was working fine earlier today.
We (the dev team) could reproduce in Chrome,

[2021-11-10 16:23] angeloashmore commented on #480
Quick background info: `@prismicio/client`, the JavaScript client used for interacting Prismic's REST API, recently changed its `getAll` method to `dangerouslyGetAll`. The Gatsby plugins use `getAll` to fetch all documents from a Prismic repository when starting the development server or building the project.

The plugins are now updated to use the new method name.

[2021-11-10 16:23] #480 closed

[2021-11-10 17:11] maheshsamudra commented on #480
This works!

[2021-11-11 00:16] angeloashmore opened #482 "Spaces in image URLs do not resolve properly"
### Versions

- gatsby-source-prismic: 5.2.1
- gatsby-plugin-prismic-previews: 5.2.1
- node: 14

### Reproduction

Upload an image with a space in the filename. Query for the URL and test if the URL works or is broken.

### Steps to reproduce

### What is expected?

The image URL works.

### What is actually happening?

Spaces in the URL break decode/encode to an invalid filename.

[2021-11-12 03:09] angeloashmore commented on #481
@kilinkis It's possible that the previewed document has fields that are not registered in Gatsby. This could happen if Custom Types were edited in Prismic without rebuilding the Gatsby site.

Can you rebuild the production site and test this again?

For reference, the "No type for path" error happens when the preview plugin comes across a field it does not recognize. A list of fields along with th

[2021-11-12 12:23] mrseanbaines commented on #481
Hey @angeloashmore - @kilinkis and I work together and I've been investigating this more this morning. I have a theory on what's happening which I'd love your thoughts on:

**TLDR;** I think the filename hash for the file which contains the list of fields is not being updated when the contents change.

I rebuilt the site locally and looked in the output `public` directory and found what I believe

[2021-11-12 22:10] angeloashmore commented on #481
@mrseanbaines Thanks for the very detailed diagnosis!

The hash is actually the repository name, not the contents of the file. The reason for this is that the preview plugin needs a deterministic way of fetching this file. It does not have access to the file's contents to build a file contents hash at runtime. In the context of a React hook, it also doesn't have access to Gatsby's cache.

To addre

[2021-11-16 12:37] kilinkis commented on #481
hey @angeloashmore :)

so I went ahead and updated the plugins to the versions you suggested, and now we are getting the following errors:

On production-like environment:
blank screen, preview toolbar present, and errors in console:

![image](https://user-images.githubusercontent.com/133504/141984904-b72ba87e-19bd-476d-a925-67167a14bb32.png)

On local build:
stuck in this state
<img width="860" a

[2021-11-16 18:38] angeloashmore commented on #481
Hey @kilinkis, thanks for your patience on this. This could happen if the JSON file mentioned before (`public/static/3c62d6dd93af5ca76d321299becce8cb.json`) is formatted in an unexpected way.

- Could you share the contents of that file with me? With that, I can debug the plugin with the actual code running during your preview.
- In your Network tab, are you seeing that file correctly load? I'm wo

[2021-11-17 09:17] kilinkis commented on #481
I'm adding it here since it exceeds the char limit of the forum.

The file seems to be okay and complete @angeloashmore.
Thanks for taking a look at this

[code]

[2021-11-18 22:25] jodiedoubleday opened #484 "Error: Unable to serialize object as a key - Empty Embed Field"
### Versions

- gatsby-source-prismic: 5.2.2
- gatsby-plugin-prismic-previews: 5.2.1
- node: v14.17.3

### Reproduction

**_Minimal test repo to follow shortly (can give access to live repo if needed)_**

### Steps to reproduce
Running any project with an empty embed field causes builds to fail. In our case some embed fields for our content team are optional.

### What is expected?
The builds shou

[2021-11-22 20:56] riccoski commented on #422
I'm having this issue on `"gatsby-plugin-prismic-previews": "^5.2.1",`

[2021-11-25 06:39] mikkosalo commented on #484
Same problem here. Cannot update to Gatsby 4 before this is fixed.

[2021-12-01 02:47] #484 closed

[2021-12-01 02:54] angeloashmore commented on #484
Hey @jodiedoubleday and @mikkosalo,

Sorry for the delay in response. I'm catching up on issues now.

Can you update to `gatsby-source-prismic@v5.3.2` and try again?

## Background

This seems to be a result of the LMDB change in Gatsby 4. Rather, the change surfaced a bug that already existed.

gatsby-source-prismic infers fields for Embed fields because each oEmbed provider (e.g. YouTube, Vimeo,

[2021-12-01 12:56] mikkosalo commented on #484
Seems to work with `gatsby-source-prismic@v5.3.2`. Thank you very much!

[2021-12-02 01:14] angeloashmore commented on #477
Hi @NeversSync, apologies for the very late reply. I'm catching up on issues now.

Session cookies have somewhat unintuitive behavior. Specifically with Chrome, a session cookie is only removed when quitting the browser. If a tab or a browser window is closed without quitting Chrome, the session cookie will still be set.

Because of this, a preview session will be active until one of the following

[2021-12-02 01:19] angeloashmore commented on #481
Hi @kilinkis, I took a look at your file contents and everything seems normal.

Are you able to share the URL to your site and the URL of the JSON file? I would like to test the network request to the JSON file to see what the `fetch` call is returning.

This is tricky to debug so I appreciate your patience on this.

[2021-12-02 16:47] jodiedoubleday commented on #484
Thank you for the fix @angeloashmore  and great explanation!

[2021-12-02 17:46] justinluttrell opened #485 "PrismicPreviewProvider in gatsby-ssr.js causes builds to fail in Gatsby V4"
I'm updating my Prismic plugins to v5 as described in the [migration guide](https://prismic.io/docs/technologies/gatsby-prismic-v4-to-v5#update-gatsby). After following all the steps in the guide my builds are now failing. With some debugging I've narrowed down the cause of failures to the use of `<PrismicPreviewProvider>` component in my `gatsby-ssr.js` file. When commenting out this component, t

[2021-12-02 20:52] angeloashmore commented on #485
Hi @justinluttrell, thanks for all the details.

I see a reference to `ts-node` in the second error. Does your project have anything unique to your setup? Such as writing `gatsby-node.ts` in TypeScript?

I haven't come across this error before so I'm wondering how it can be reproduced to find a fix. Thanks!

[2021-12-02 21:11] justinluttrell commented on #485
Yes you're right. We use `ts-node` so that we can write `gatsby-node.ts` in TypeScript. I'm not sure of anything else unique that may impact the use of these plugins though.

[2021-12-03 11:21] mrseanbaines commented on #481
Hey @angeloashmore. I've been looking into this again. I think we have another separate preview issue (unrelated to the JSON file) after upgrading to the v5 version of the plugin which is what we were seeing [here](https://github.com/prismicio/prismic-gatsby/issues/481#issuecomment-970231704). I've just tried bootstrapping a fresh/minimal/sandbox project and am able to recreate what I think is the

[2021-12-03 23:44] NeversSync commented on #477
@angeloashmore Thanks for digging in to this and for the response. I can see now that I was indeed misunderstanding the expected behavior of session cookies, now that I understand that better, and the way it is enabling preview share links/live updates, I can better understand why this behavior is happening and also why it was intended.

With that said, this behavior still feels like a broken UX,

[2021-12-13 22:51] schweetheart opened #486 "Images that have special characters in their file name do not preview correctly"
### Versions
- gatsby": "^3.8.1",
- gatsby-source-prismic: "^4.0.1",
- gatsby-plugin-prismic-previews: "^4.0.1",
- node: 16.13.0

### Reproduction

When attempting to preview certain images which file name contains special characters, the preview of that image fails.

1) Upload a file with special characters in its name (The + sign)
**Filename**
`LM+_HS Creative_Gifting_homepage-banner-compoundpat

[2021-12-14 07:16] p-tul opened #487 "Union Type error on Slices"
### Versions

- gatsby-source-prismic: v5.2.3
- gatsby: v4.3.0
- node: v17.2.0

### What is actually happening?

I have updated the 'gatsby-source-prismic' plugin from v1.0.2 to v5.2.3. When running `yarn start`, the build fails during the extracting-queries step.

[code]

---
gatsby-config.js
[code]

---

I have even gone so far as to remove all graphql queries from the repo with no change to the

[2021-12-17 09:59] mrseanbaines commented on #481
@angeloashmore any idea why this file seems to randomly output differently?

I believe this is the expected output format (with IDs as keys):

<img width="519" alt="image" src="https://user-images.githubusercontent.com/24367010/146525778-27d0028f-69c7-4766-96c3-e33b472b0e5d.png">

But we are occasionally seeing it output like so (with doc types/paths as keys):

<img width="564" alt="image" src="ht

[2021-12-21 04:41] heart-of-code opened #488 "Cannot read properties of undefined (reading 'pick')"
### Versions

- gatsby-source-prismic: `5.2.3` after upgrading from `4.1.6`
- node: `v16.13.1`

### Reproduction

Worked fine on version 4.1.6. Upgraded to 5.2.3 and this error started occurring. I'm not sure what else I can offer for reproduction steps, all I did was upgrade.

### What is expected?

`npm run build` doesn't crash

### What is actually happening?

[code]

GitHub won't allow me to u

[2021-12-31 05:06] cyberious commented on #488
Having the same issue after working to get Prismic and Gatsby upgraded, working fine in dev mode but the build fails.

[2022-01-04 21:11] angeloashmore commented on #488
Hey @heart-of-code and @cyberious sorry for the delay. I'm just getting back after some time off from work. :)

I'm looking into this today. It appears to be related to `@imgix/gatsby` (used for the `gatsby-plugin-image` integration).

@heart-of-code @cyberious Are either of you using Gatsby 4's new rendering strategies? DSG or SSR?

[2022-01-04 23:05] heart-of-code commented on #488
no worries, I wasn't really expecting a response over the holidays 😁

I'm not using either of those new features. I also can share my codebase
with you on GitLab if you have an account there

On Tue, Jan 4, 2022, 4:12 PM Angelo Ashmore ***@***.***>
wrote:

[2022-01-04 23:40] angeloashmore commented on #488
Thanks, no need to share your code (at least not for now). I thought this bug was limited to DSG/SSR, but I guess not!

I opened a PR to `@imgix/gatsby` that should fix this issue. Once it is merged + published, I'll publish an update here. Thanks for your patience as always.

Related PR: https://github.com/imgix/gatsby/pull/159

[2022-01-10 21:37] beamercola opened #490 ""gatsby-source-prismic" threw an error while running the createSchemaCustomization lifecycle:"
### Versions

- gatsby-source-prismic: 5.2.3
- node: 16.2

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

[code]

The error:
[code]
</details>

### What is actually happening?

I'm trying to use the new `customTypesApiToken` but my project wont compile anymore.

[2022-01-10 21:43] angeloashmore commented on #490
Hi @beamercola, this happens because one or more of the Custom Type JSON models are missing fields the plugin expects to exist.

Could you post your JSON models here? You can also send me a private message on the Prismic forum with this link: https://community.prismic.io/new-message?username=angeloashmore&title=GitHub%20Issue%20490

Once I have the models, I can test the plugin and see which field

[2022-01-10 22:03] angeloashmore commented on #487
Hi @p-tul, this happens because your "Development Updates" Custom Type contains a Slice Zone with no Slices. I will update the plugin to fix this issue.

For an immediate fix, you can remove the empty Slice Zone in the "Development Updates" Custom Type. It may be located in a secondary tab (note that the type contains `Body1`, which means there's at least one other Slice Zone in the document alrea

[2022-01-10 22:45] #487 closed

[2022-01-10 22:48] angeloashmore commented on #487
@p-tul The fix has been published in `gatsby-source-prismic` `v5.2.4`. Could you give it a try and let me know if it fixes your issue? Thank you!

[2022-01-11 00:37] angeloashmore commented on #486
Hi @schweetheart, apologies on the late reply. I had some time off at the end of the year and am getting back to work now. :)

This issue will be addressed in a future release. Imgix (Prismic's image host) has strict URL requirements that make working with special characters (spaces, pluses, etc.) difficult. The solution is not immediately obvious so I'll need some time to come up with a fix.

In

[2022-01-11 00:37] angeloashmore commented on #482
Related: https://github.com/prismicio/prismic-gatsby/issues/486

[2022-01-11 21:21] #490 closed

[2022-01-11 21:25] angeloashmore commented on #488
The PR was merged to `@imgix/gatsby` that should fix this issue. Could everyone update to the latest versions to ensure the update is installed?

- `gatsby-source-prismic`: `v5.2.5`
- `gatsby-plugin-prismic-previews`: `v5.2.5`

Thanks!

[2022-01-14 10:25] k-s-morawska opened #495 "error Building static HTML failed for path "/blog/""
I have a website created using Gatsby v. 3.0.1 and Prismic CMS, and Github Actions for CI/CD. The build of the page on GH is triggered automatically every time content is added/edited on CMS.

Blog posts on the website are generated dynamically with gatsby-node.js createPage function:

[code]

Couple of days ago after adding a new blog post the build failed with following error:

[code]

Now every

[2022-01-17 12:34] kb1995 opened #496 "Removed legacy field from Custom Type, now previews in development are not working"
### Versions

- gatsby-source-prismic: ^5.2.5
- gatsby-plugin-prismic-previews: ^5.2.5
- node: v14.17.6

### Reproduction

- gatsby-config.js

[code]

- gatsby-ssr.js

[code]

- repository config

[code]

### Steps to reproduce

1. I had a legacy author field in my blog post (replaced with a group field), which I removed
2. I removed it (the custom type is still existing)
3. When I try to preview

[2022-01-20 02:41] angeloashmore commented on #495
Hi @k-s-morawska, this isn't something I've come across before, and Gatsby's stacktrace isn't helpful either, unfortunately.

It seems like the build is failing for the root `/blog/` page, not an individual page. Is your `/blog/` page querying `allPrismicBlogPost`?

Here are my recommendations:

1. Ensure your GitHub CI setup is identical to your local setup as much as possible. This means ensurin

[2022-01-20 02:49] angeloashmore commented on #496
Hey @kb1995, this is probably happening because some `blog_post` documents still contain an `author` field, even after removing the field from the Custom Type. In Prismic, the field won't be removed from the API response until you go into a document and save a new version.

During a preview, the plugin iterates through each field and looks at the Custom Type models to find a field type. Since it c

[2022-01-20 05:42] cyberious commented on #488
I can confirm it resolved my issue.

[2022-01-20 09:27] kb1995 commented on #496
@angeloashmore Thanks for the reply!

I just went through every single blog post document to double check and I can confirm that none of them had the legacy author field filled in (I migrated all of them couple of weeks ago when I made this field a legacy one). So maybe it's something else?

Even if this wasn't the case, is there nothing from a technical standpoint we could about that? I currently

[2022-01-24 04:06] ErikAGriffin commented on #384
Adding this context for someone else running into a similar issue in the future:

For me I narrowed down the issue as coming from the `gatsby-browser.js` file, and that replacing the `process.env.<repo-name>` variable with a string fixed it.  My PrismicProvider looked something like this:
[code]
Can you spot the issue?  Depending on what framework you are using, environment variables are not allow

[2022-01-31 09:50] mrseanbaines commented on #477
@angeloashmore any update on this? We are also experiencing all of the issues described by @NeversSync. The exceedingly long wait for the preview to load is especially annoying. From a quick look in the network tab while the preview is loading, it _looks_ like it's fetching EVERYTHING from Prismic, including documents which are completely unrelated to and not reference by the page being previewed

[2022-02-07 22:07] angeloashmore commented on #496
Hey @kb1995, so sorry for the late reply! This slipped through my notifications.

Even if the documents did not have a value for the legacy `author` field, it might still be included in the API response. You can check for this using Prismic's API browser (https://your-repo-name.prismic.io/api/v2 or https://qwerty.prismic.io/graphql if you find GraphQL to be easier). The fact that it's a content re

[2022-02-10 11:31] kb1995 opened #497 "dangerouslyGetAll breaks all prismic queries"
### Versions

- gatsby-source-prismic: 5.2.5
- gatsby-plugin-prismic-previews: 5.2.5
- node: v14.17.6

### Steps to reproduce

1. Upgrade to "gatsby-plugin-prismic-previews": "^5.2.5" and "gatsby-source-prismic": "^5.2.5"
2. `gatsby clean` just in case
3. `yarn run dev`

Nothing is loaded when not in preview (I have ~100 Content Post live documents):

<img width="779" alt="Screenshot 2022-02-10 at

[2022-02-10 14:48] jodiedoubleday opened #498 "Question about imageImgixParams (&q=50)"
Apologies if this is not a plugin issue but a general Prismic issue...

I noticed a strange issue with one of our image-heavy clients.

By default images are returned from imgix with the following params
[code]

I've been looking at reducing the file size of the images and decided to play around with the q (quality) parameter which by default is set to 50 (as above)
If in my config I set q to be b

[2022-02-14 13:12] kb1995 commented on #496
@angeloashmore Thanks for the response! Closing since it's a technical limitation of Gatsby/Prismic API

[2022-02-14 13:12] #496 closed

[2022-02-18 17:51] gabrielloeb commented on #468
Encountered the same error and resolved switching back to manual schemas.

[2022-02-24 07:19] cometkim opened #499 "Broken on Gatsby v4.8.0"
### Versions

- gatsby-source-prismic: 5.2.5
- gatsby-plugin-prismic-previews: 5.2.5
- node: v16.14.0

### Reproduction

Just upgrading Gatsby to v4.8.0 broke existing sites

https://github.com/daangn/websites/pull/511

[code]

[code]

[2022-02-25 18:27] NeversSync opened #500 "Preview generation takes an unreasonably long time"
### Versions

- gatsby-source-prismic: 5.1.0
- gatsby-plugin-prismic-previews: 5.0.3
- gatsby: 4.7.1

### Reproduction

The best I can provide is a description of our experience as our preview links are not shareable here.

Previews generally take between 25-60 seconds to load causing people using them to assume they don't work or to stop using them because they are so slow.

<summary>Most of our

[2022-02-26 02:25] angeloashmore commented on #500
Hey @NeversSync, thanks for the report. Previews should not take that long to resolve. Generally speaking, previews should be ready within a couple of seconds.

Do you mind sharing a few details about your site and Prismic repository?

- **How many documents do you have in your repository?**
   The preview plugin requests all of your documents at the start of a preview session. By default, each re

[2022-02-27 23:10] kb1995 commented on #500
Just wanted to share that I also started experiencing this problem for one of my clients. It wasn't a problem until a month or two ago, so probably something related to a recent upgrade.

- How many documents do you have in your repository? -> around ~150 documents
- Is the long load time on the preview resolver page (usually /preview), or is it on the actual page being previewed? -> the actual pa

[2022-02-28 18:20] angeloashmore commented on #500
Thanks for the additional info @kb1995. I'll take a closer look to figure out what's going on.

[2022-02-28 19:15] NeversSync commented on #500
@angeloashmore Thanks for the quick reply. It's helpful to know that our wait time is abnormal, and also to have the link to the documentation on the workings of the preview plugin system.

Answers to your questions:

**- How many documents do you have in your repository?** -> around 715 documents

**- Is the long load time on the preview resolver page (usually /preview), or is it on the actual pa

[2022-03-01 02:46] angeloashmore commented on #500
It appears to happen due to the API, not necessarily from `gatsby-plugin-prismic-previews`. The load times are exacerbated by the preview plugin's behavior of fetching all documents on entry (this is unlikely to change and has generally worked well in the past).

I've raised the issue with Prismic's API team to understand if there were recent architecture changes that could be causing this. I'll s

[2022-03-01 21:34] angeloashmore commented on #500
Hey @NeversSync @kb1995, the API team said they found an issue and fixed it (sorry, I don't have details on what the issue was).

Could you test a preview again and let me know if the load times are the same or improved? Thanks

[2022-03-01 22:01] kb1995 commented on #500
@angeloashmore Thanks for the quick response. Unfortunately, I just tried it and the preview takes the same amount of time as before

[2022-03-01 23:39] NeversSync commented on #500
@angeloashmore I just tried a preview again on a pretty small document, and it took ~30 seconds, about the same as it was before.

[2022-03-01 23:49] angeloashmore commented on #500
Thanks for testing. I shared your responses to the team. Once I hear back, I'll give an update here. 🙂

[2022-03-04 11:09] Baztoune commented on #477
Hi guys, I found out this issue while searching for a hint. We encountered a similar performance issue in preview mode after upgrading gatsby and prismic libs to the latest versions (before that upgrade, it was slow, now it's barely usable). It looks like the preview plugin loads all our ~700 prismic documents, which can take up to several minutes on some machines.
Is it expected or should we revi

[2022-03-04 15:52] Baztoune commented on #500
Hi guys, I already commented on another issue, but my colleague found out about this dedicated one, so sorry about the duplicate. We are experiencing a very similar problem, with up to date libs, and ~700 prismic documents.
The network tab reveals 8 prismic API requests as expected, which take from 1 to 2sec each. That doesn't add up to the ~60 seconds with frozen UI on my Apple M1 (worse on other

[2022-03-04 16:26] Baztoune commented on #500
Could it be the `serializePath` function added in #466 ?
https://github.com/prismicio/prismic-gatsby/blob/800414e4027775d885493e715d0bc6005bfddbda/packages/gatsby-source-prismic/src/lib/getTypePath.ts#L24
I also noticed that with `yarn start` (which uses `NODE_ENV=development`) the preview loading takes ~10sec (network+processing which is around the time before the upgrade) whereas with `yarn buil

[2022-03-09 18:46] NeversSync commented on #500
@Baztoune thank you for digging in to this and providing these super helpful insights.

To answer your question, I just tested this on a mid-sized document with a few images and can confirm that I'm seeing the same behavior as you are:

- `gatsby develop` preview took 22 seconds
- `gatsby build && gatsby serve` preview took 40 seconds

Curious to hear thoughts from @angeloashmore and the Prismic t

[2022-03-09 21:43] Baztoune commented on #500
Thank you for your feedback ! From my understanding, the processing time actually depends on the whole amount of documents you have in prismic, not just the one you're trying to preview.  The plugin "normalizes" all these documents (including a md5 hash of its path when `NODE_ENV=production`), and it looks like it normalizes all these documents subtree too (see `normalizeDocumentSubtree` recursive

[2022-03-14 13:18] kb1995 opened #501 "Fragments on a non-slice queries"
I'm not sure if it's currently possible to do that and it's just a limitation of my knowledge in GraphQL, but I can't figure out how to create Fragments for non-slice queries.

I'm already using Fragments for slice components as documented in the docs, but I'd like to also use fragments for my article cards which I query multiple times across multiple pages, which means that I end up repeating mys

[2022-03-15 01:25] angeloashmore commented on #501
Hey @kb1995, what you are doing is correct, except that the type name is incorrect.

[code]

The `on PrismicAcademyPost` part of that fragment means it can be used on `PrismicAcademyPost` nodes. This is the object that contains fields like `id`, `uid`, `last_published_on`, and `data`. It does not contain your content fields; those are in `data`.

Instead, you can update your fragment to the follow

[2022-03-15 01:25] #501 closed

[2022-03-18 22:17] antonborysov opened #502 "ERROR #85911 GRAPHQL"
### Versions

- gatsby-source-prismic: 5.2.5
- gatsby-plugin-prismic-previews: N/A
- node: 16.13.2

### Reproduction

Receiving these errors while running **gatsby develop**

These errors show up for the following files:

Had last successful build about a week ago, hadn't changed anything since. Tried to downgrade node, npm, gatsby-source-prismic, but nothing seems to help. So I'm assuming that so

[2022-03-19 14:06] samlogan commented on #500
+1

[2022-03-23 19:58] angeloashmore commented on #500
Hey everyone, thank you for the detailed triaging and reports.

It looks like you are all correct; the slowness is not only a result of waiting on network requests. It is also due to excessive data processing.

From a very high level, this is what the preview plugin is doing:

1. **Fetches all documents from the Prismic repository.**
   This is necessary because your GraphQL queries could referenc

[2022-03-23 22:08] angeloashmore commented on #499
@cometkim Thanks for the report. I have been able to use `gatsby-source-prismic` and `gatsby-plugin-prismic-previews` successfully in Gatsby `v4.10.3`.

It's possible you are seeing those error due to Gatsby's new support of native TypeScript `gatsby-*.js` files. If I remember correctly, your monorepo includes support for TypeScript files by transpiling them before building. You could try removing

[2022-03-23 22:16] angeloashmore commented on #498
Hey @jodiedoubleday, you're absolutely right. `q=50` will be removed in the version which should be published soon. Until then, the parameter can be disabled using `{ q: undefined }` or `{ q: '' }` like you pointed out.

Thanks for finding this!

[2022-03-23 23:17] #498 closed

[2022-03-23 23:36] angeloashmore commented on #497
Hey @kb1995, apologies for the late reply. The version of `@prismicio/client` has been updated to the latest current version, `v6.4.2`, which will ensure the correct version is used.

This update to the Gatsby plugins will be published soon with this fix.

[2022-03-23 23:36] #497 closed

[2022-03-23 23:37] angeloashmore commented on #495
Hey, I'm going to close this issue as it seems like the problem is no longer active. If this is still something you would like help on, please feel free to comment here and I will follow up. Thanks!

[2022-03-23 23:37] #495 closed

[2022-03-23 23:41] angeloashmore commented on #485
Hi @justinluttrell, sorry for such a late reply. The error seems related to `ts-node` and potentially another process reading source maps. Does this still happen if you don't use `ts-node`? (As a quick test, you could compile your `gatsby-node.ts` file to `.js` and run Gatsby's development process.)

Gatsby v4.9 now includes native support for `gatsby-node.ts` (and all other `gatsby-*.ts` files),

[2022-03-23 23:47] #358 closed

[2022-03-23 23:47] #363 closed

[2022-03-23 23:52] angeloashmore commented on #366
Hi @jacknbeans, sorry you didn't get a reply about this sooner. It's difficult to tell exactly what was causing that problem since the network request simply failed.

You could try configuring the plugin to fetch your repository content in smaller batches. By default, the plugin will fetch content 100 documents at a time. This may result in a long API response delay. You can configure this number

[2022-03-23 23:52] #366 closed

[2022-03-24 04:37] angeloashmore commented on #502
Hey @antonborysov, just letting you know I have seen this error as well but the cause isn't known yet. If you need a quick workaround, you can go into `node_modules` and delete the following directories:

- `node_modules/gatsby-source-prismic/src/`
- `node_modules/@imgix/gatsby/src/`

This will have to be done anywhere the `gatsby develop` or `gatsby build` are run. This is a very temporary soluti

[2022-03-24 07:54] Baztoune commented on #500
Thank you for your detailed answer, this helps to understand what happens behind the scene. FYI we kind of solved the performance issue by forking `tiny-hashes` lib in order to override the `md5` function (it now returns the raw input string, and we're back from 70 seconds processing to 10 seconds). Then yarn allows to link the github fork, which is easy to work with, and will be easy to remove wh

[2022-04-13 08:47] AdrianGuery commented on #500
Any update on this issue ?

On a Gatsby prismic project with more than 450 documents, a preview takes more than 3 minutes.

@Baztoune is it possible to have access to the source code of your patch?

[2022-04-13 08:57] Baztoune commented on #500
@AdrianGuery our "patch" is just a fork of https://github.com/jbt/tiny-hashes with `md5.js` file content replaced by
[code]
We use it by overriding yarn resolution and pointing to our fork. Depending on your package manager, it could be different.
[code]
Not the cleanest workaround but it works.

[2022-04-13 09:03] AdrianGuery commented on #500
Thanks a lot @Baztoune !

[2022-04-14 12:43] AdrianGuery commented on #500
Unfortunately, it improves the preview generation only in local.
So I tried to limit the fetching of documents, and it works for us. In fact, we do not used the release system in Primsic. It takes now 10sec instead of 180+sec

There is the modification : https://github.com/AdrianGuery/prismic-gatsby/commit/72b0ba7f3d094df339583d5077c31930fb9a6f05

[2022-04-15 14:59] matijamrkaic commented on #468
Currently facing the same issue. Switching to manual schemas had no effect.

[2022-04-19 15:01] mrseanbaines commented on #500
Also experiencing this. Mentioned a few months ago [here](https://github.com/prismicio/prismic-gatsby/issues/477#issuecomment-1025553968) but had no response

[2022-04-19 15:12] kilinkis commented on #500
We are also having the same issue

[2022-04-22 12:10] OleksandrRakovets commented on #458
Hi @angeloashmore!

Is there any progress on lazy-loading?

I have attempted to hide `gatsby-plugin-prismic-previews` config and `withPrismicPreview` wrapper behind a `process.env` flag in order to deploy a separate preview subdomain.

Even though I managed to override default exports in Gatsby pages, webpack (or babel, not really sure here) still loads the package into bundle, because it must be

[2022-04-25 12:00] kilinkis commented on #496
also have been fighting with this. Extremely annoying issue.

[2022-04-28 22:53] samlogan commented on #500
Be great to come up with a solution for this 🙏 We have a few big sites using Prismic and they're unable to preview content

[2022-04-28 23:10] alextrepa commented on #500
+1. We have the same issue. Previews were taking multiple minutes. At least, we were able to implement @Baztoune workaround (thank you btw) and get them back to 20-30 seconds.

[2022-04-29 08:06] angeloashmore commented on #500
Hey everyone, sorry for the delay in addressing this issue. I will be working on this and will publish a fix soon. I’ll post here once there is a new version to test.

Thank you!

[2022-05-02 22:54] angeloashmore commented on #500
Hey everyone, could you try out this alpha version and let me know if it resolves the performance issue? It implements @Baztoune's `md5`-related fix across the whole plugin.

- `gatsby-source-prismic`: `v5.2.7-alpha.0`

`gatsby-plugin-prismic-preview` should use the updated version automatically once the updated source plugin is installed.

For more details, see #506.

[2022-05-04 07:56] matijamrkaic commented on #500
Thank you @angeloashmore! Confirming that the previewing is much faster now!

[2022-05-04 09:13] kb1995 commented on #207
@angeloashmore Just pinging you in case you missed it

[2022-05-04 17:55] NeversSync commented on #500
Working much better now @angeloashmore! Thank you!

[2022-05-11 07:21] nanorepublica commented on #484
I am getting this error when trying to use an embed field with a youtube video present. One thing I am initially confused on is that the latest version of `gatsby-source-prismic` I can find (npm, releases on this repo) is `v5.2.6` is the above version specified of `v5.3.2` a typo and supposed to be `v5.2.3`?

gatsby-source-prismic: 5.2.6
gatsby-plugin-prismic-previews: 5.2.6
node: v16.13.0

I have

[2022-05-11 22:04] angeloashmore commented on #484
Hi @nanorepublica, you're correct, that was a typo. It should be `v5.2.3` as seen in the [changelog here](https://github.com/prismicio/prismic-gatsby/blob/dcc2d864d8750d818c9a1f660712bd4c62b47e04/CHANGELOG.md#523-2021-12-01). I edited the comment for anyone seeing this in the future.

Are you saying that when you have a field containing a YouTube video, the query fails? Would you be able to post t

[2022-05-16 15:53] patrickbenjamin1 opened #507 "Officially support React 18 in gatsby-plugin-prismic-previews"
### Is your feature request related to a problem? Please describe.

npm install gives a peer dependency error when using React 18

[code]

As there are no breaking changes in React 18 that should effect this package, forcing works fine, but this error is a shame

### Describe the solution you'd like

Add React 18 to accepted peer dependencies

### Describe alternatives you've considered

Using --f

[2022-05-16 20:51] angeloashmore commented on #500
Thanks for testing! 🙂

The fix has been merged and publish. Please update to the latest version of the Gatsby plugins when you are able to.

- `gatsby-source-prismic`: `v5.2.7`
- `gatsby-plugin-prismic-previews`: `v5.2.7`

I'm going to close this issue as the MD5 fix brings previews back into an "expected" performance level. I will be looking at different strategies that will fundamentally improve

[2022-05-16 20:51] #500 closed

[2022-05-17 17:40] NeversSync commented on #500
Thank you @angeloashmore !!!

[2022-05-19 02:25] #507 closed

[2022-05-19 02:28] angeloashmore commented on #507
Thanks for the report, @patrickbenjamin1! I just published a fix that adds React 18 support. You can see the changes here: #508

Could you update to the following package version?

- `gatsby-plugins-prismic-previews`: `v5.2.8`

If this doesn't fix the issue, please let me know and I'll take another look. Thanks!

[2022-05-24 15:49] EpokK opened #509 "Don't load Google Font"
https://github.com/prismicio/prismic-gatsby/blob/4d7e9e3c402ee30233963bfeb833164d038a1bfc/packages/gatsby-plugin-prismic-previews/src/styles.css#L1

For privacy reasons, it could be nice to not upload Google Font here.

[2022-05-25 08:31] nanorepublica commented on #484
@angeloashmore any thoughts on this? I will try reproducing this in a demo repo today.

[2022-06-02 15:06] kilinkis commented on #500
hi @angeloashmore, don't wanna ruin the party here, but we are still experiencing very long times after upgrading, even more than before.

Asking your questions from above:

*  How many documents do you have in your repository?
   About 6000 (about 300 per locale)
*Is the long load time on the preview resolver page (usually /preview), or is it on the actual page being previewed?
   This happens on

[2022-06-08 10:47] nanorepublica commented on #484
Turns out an 'unlisted' youtube video caused this error to crop up. Using a public video worked perfectly

[2022-06-09 13:32] robclancy commented on #394
I've been wasting so much time trying to figure out how to stop that, the image quality is so bad.

[2022-06-15 10:21] kilinkis opened #510 "Previews still very slow after plugin upgrade"
hi @angeloashmore, I think might be a follow up from #500, but we are still experiencing very long times after upgrading, even more than before.

Answering your questions from that Issue:

- **How many documents do you have in your repository?**
    About 6000 (about 300 per locale)
- **Is the long load time on the preview resolver page (usually /preview), or is it on the actual page being preview

[2022-06-20 09:44] ThAlmighty opened #512 "No type for path"
### Versions

- gatsby-source-prismic: 5.2.7
- gatsby-plugin-prismic-previews: 5.2.8
- node: 14.19.3

### Reproduction

We are running into a problem where if we've generated our static site including the custom type definitions, the preview will break if a custom type is updated after that update without rebuilding the website.

This breaks our workflow quite a lot because when developers are bui

[2022-07-06 16:30] TannerJuby1 opened #513 "Coordinate Fields are incorrectly defined as Non-nullable"
### Versions

- gatsby-source-prismic: 5.2.2
- gatsby-plugin-prismic-previews: 5.2.1
- node: 16.13.2

### Steps to reproduce

- Create a Prismic Custom Type with a Coordinates Field
- Create a record of this type and don't set Coordinates
- Create a GraphQL query that queries for the coordinates

### What is expected?

I would expect Gatsby to be able to handle null values for all Prismic fields (

[2022-07-11 12:44] kilinkis commented on #510
@angeloashmore pinging again in case this got lost

[2022-07-12 02:10] angeloashmore opened #514 "RFC: Improvements to performance and code approachability"
Prismic’s Gatsby integration has generally been stable since its last major release, v5.0, in October 2021. As we look toward the future, however, there is still much to improve upon within the integration’s plugins.

The next major releases of `gatsby-source-prismic` and `gatsby-plugin-prismic-previews` will take a [Mac OS X Snow Leopard-like approach](https://zerodistraction.com/the-last-stable-

[2022-07-12 02:19] angeloashmore commented on #510
Hi @kilinkis, thanks for the ping. I don't have an immediate fix I can recommend right now, but I am planning to make changes to the preview system that hopefully eliminates the issue you're describing.

More details are available in this RFC: https://github.com/prismicio/prismic-gatsby/issues/514

[2022-07-12 09:14] lihbr commented on #514
LGTM, just one thing as I'm not sure it's encapsulated by the RFC yet (maybe it was implied):

Could we consider caching the queried & processed API locally based on the API ref (one step further than just Network cache)? Maybe this was already implied.

Going one step further, we could also explore extending cache based on the last publication date of each document when the ref has changed if the

[2022-07-12 23:33] angeloashmore commented on #514
Yes, exactly. The most straightforward approach is to cache based on the `ref`. The `@prismicio/client` `fetch` function looks like this currently:

[code]

Where `cachedFetch()` returns cached results using the URL as the key. Since the URL contains the `ref`, it automatically cache busts. The only initial `/api/v2` request is necessary to fetch the latest ref.

**Site note**: this strategy could

[2022-07-15 07:48] alexanderbluhm opened #515 "TS Error: GraphQLDocumentError: Unknown type "ImgixFixed""
### Versions

- gatsby-source-prismic: ^5.2.9
- gatsby-plugin-prismic-previews: "^5.2.8"
- node: v16.15.0

### Reproduction

Minimal reproduction repository: https://github.com/alexanderbluhm/gatsby-ts-prismic-error

### Steps to reproduce

1. Initialize a new Gatsby TS project `npm init gatsby -ts` (No CMS, Add PostCSS, Responsive Images, React Helmet, Manifest)   Of course it works now with `npm

[2022-07-15 08:53] jodiedoubleday commented on #513
I resolbved this by adding an infer to my gatsby node:

[code]

[2022-07-15 15:13] justinluttrell commented on #485
Hey Angelo, we recently upgraded to Gatsby v4.9 and this solved the issue.

Thanks for your response!

[2022-07-15 15:13] #485 closed

[2022-07-18 10:17] alexanderbluhm commented on #515
It is working now if I add the plugin to the Gatsby config and connect it to a Prismic repository with two published documents.
However, it shouldn't throw a type error when only adding the packages.

[2022-07-18 22:11] angeloashmore commented on #485
That's great to hear! Thanks for the follow-up. The new native TypeScript support is such a nice thing to have built-in.

[2022-07-19 23:59] angeloashmore commented on #515
@alexanderbluhm Thanks for following up after finding a semi-solution.

I believe this happens because Gatsby looks through `node_modules` for any `` graphql`...` `` queries when generating TypeScript types.

`gatsby-source-prismic` defines its own GraphQL fragments with `` graphql`...` `` in [`gatsby-source-prismic/fragments.js`](https://github.com/prismicio/prismic-gatsby/blob/45a2db5ff798a34f1c

[2022-07-20 00:00] #515 closed

[2022-08-02 20:48] NeversSync opened #516 "SSR breaking link resolver functionality on builds"
# Versions

- gatsby-source-prismic: v5.2.9
- gatsby-plugin-prismic-previews: 5.2.7
- node: v.14.17.0
- gatsby v4.17.0

### Steps to reproduce
1. Stand up a basic Prismic/Gatsby project with a basic link resolver. In a page component add and export a `getServerData` call to tell gatsby to SSR that page.
2. In a Prismic document, add a link using the `link to document` option. Then, add another lin

[2022-08-10 20:30] greatwitenorth opened #517 "Preview not redirecting to correct page"
### Versions

- gatsby-source-prismic: 5.2.9
- gatsby-plugin-prismic-previews: 5.2.8
- node: v16.15.0

### Reproduction

I can provide access to a private bitbucket repo if needed.

I cannot seem to get previews working with our repository. When I click a preview for my local instance (while using gatsby develop) I just see my preview page, and it never redirects to the correct page. There's also

[2022-08-12 23:50] NeversSync commented on #516
Made some progress and added a comment with a follow up issue/question here: https://github.com/prismicio/prismic-gatsby/pull/479#issuecomment-1213594878

[2022-08-15 20:42] #517 closed

[2022-08-15 21:02] angeloashmore commented on #517
Glad to hear you found the issue, @greatwitenorth. Sorry I didn't get a chance to reply to you earlier!

Perhaps there's a way we can make the issue more obvious, such as providing clearer error messages or simplifying the set up process. We can explore this in the next major version (#514).

[2022-08-15 21:42] angeloashmore commented on #516
Hey @NeversSync, thanks for the report. I'm having trouble recreating the issue, but I think I have an idea of what the underlying issue is.

Basically, when Gatsby is in SSR mode, it doesn't always have access to the full options given to a plugin. If an option is not serializable, such as a function, it is not accessible in all areas of the plugin. Since Link Resolvers are functions, the plugin

[2022-08-16 17:54] NeversSync commented on #516
@angeloashmore Thank you for the response, I have just resolved the issue.

The fix:
Use a combination of the Link Resolver and the Route Resolver in the gatsby config options. I also needed to include the fetchLinks option for one document path which has an optional subpath based on a Content Relationship field (i.e. website.com/{optional category}/{uid}.  Lastly, I am including the exact same `r

[2022-08-16 17:54] #516 closed

[2022-09-15 09:24] PietroAimone opened #519 "Hyperlinks inside Rich Text fields have target="undefined""
### Versions

- gatsby-source-prismic: 5.2.9
- gatsby-plugin-prismic-previews: 5.2.8
- node: 16.14.2

<details open>
<summary>Not sure if this is the right place to post this. We've recently upgraded the plugin from 2.3.0-alpha.3 to 5.2.9, and every single Rich Text field in our application that contained a hyperlink with "Open in new tab" unchecked is now being returned with target="undefined" by

[2022-09-15 21:33] #519 closed

[2022-09-15 21:38] angeloashmore commented on #519
Hi @PietroAimone, thanks for the report! Yes, this is the correct place to report bugs with the Gatsby plugin.

The issue comes from `@prismicio/helpers`, which was just updated to fix this issue here: prismicio/prismic-helpers#59.

The Gatsby plugins have been updated to include that fix as of the following versions:

- `gatsby-source-prismic`: `v5.2.10`
- `gatsby-plugin-prismic-previews`: `v5.2.

[2022-09-16 07:41] PietroAimone commented on #519
I updated the plugins and the problem was resolved.
Thank you very much for the help!

[2022-09-16 16:21] angeloashmore commented on #519
You’re welcome! Happy to hear that!

[2022-09-26 09:33] kb1995 commented on #458
Hey @angeloashmore - any updates on this?

[2022-11-07 13:42] kb1995 commented on #207
@angeloashmore Sorry to be bothering you, but I'm still experiencing the Proxy issue one year later...

[2022-11-07 16:58] kb1995 commented on #514
Hey @angeloashmore, I just wanted to see what's the progress with this RFC. The preview plugin's bundle size is damaging my Core Vital score so would be great to see if there are any upgrades in the near future.

Also, not sure if relevant to this RFC, but I remember that last year around this time, you mentioned that Prismic has been working on Slice Machine integration which would be launched in

[2022-11-07 21:32] angeloashmore commented on #514
Hey @kb1995, the RFC has been implemented in a private GitHub repository. We gave early access to a group of Prismic + Gatsby developers through Prismic's Early Access Program ([details here](https://prismic.io/blog/eap-gatsby-refresh-2022)). I sent you an invitation to the repository so you can try it out as well.

We plan to publish the new plugins before the end of the year. Documentation and e

[2022-11-07 22:03] angeloashmore commented on #207
Hey @kb1995, so sorry for the lack of replies here! It definitely wasn't intentional.

The use of a proxy shouldn't be causing an issue in this case. All properties pass through to the API's original value except `document`, which connects the Content Relationship field's document to the document's data.

That's not to say there isn't an issue, but the proxy shouldn't be the reason.

`isFilled` is

[2022-11-09 00:23] leomitimiti opened #521 "TypeError: A dynamic import callback was not specified. (value)"
### Versions

- gatsby-source-prismic: 6.0.0-alpha.17
- node: v16.15.0
- gatsby: v4.4.0
### Reproduction

<details open>
<summary>Additional Details</summary>
<br>
Gatsby displays the error:
TypeError: A dynamic import callback was not specified. (value)
and the application does not run
</details>

### Steps to reproduce

### What is expected?

### What is actually happening?
![image](https://user

[2022-11-09 23:06] leoperez commented on #521
@angeloashmore how could be this resolved?

[2022-11-10 02:38] angeloashmore commented on #521
@leomitimiti @leoperez Are you able to share a reproduction of this error? This isn't something I've seen before, and it seems to be directly from Node, not Gatsby's code.

Could you also share your `package.json`? Thanks!

[2022-11-10 10:51] cometkim commented on #514
Does this mean that there are no breaking changes in v6.0.0-alpha that require migration work? In that case, I can proceed with the upgrade right away and give some feedback.

[2022-11-10 22:48] #499 closed

[2022-11-13 16:05] leomitimiti commented on #521
@angeloashmore  This is my package.json

[package.json.txt](https://github.com/prismicio/prismic-gatsby/files/9997690/package.json.txt)

[2022-11-26 13:28] Primajin opened #522 "Gatsby 5"
### Is your feature request related to a problem? Please describe.
I'd like to upgrade to v5 and prismic is the only plugin left that only supports 4.

### Describe the solution you'd like

Upgrade to support v5 Gatsby.

### Describe alternatives you've considered

Downgrade all plugins until prismic is ready...

### Additional context

https://www.gatsbyjs.com/docs/reference/release-notes/migrati

[2022-11-27 00:57] angeloashmore commented on #522
Hi @Primajin, a new version of `gatsby-source-prismic` and `gatsby-plugin-prismic-previews` is in the works and will be out sometime in December or early January. The updated plugins include Gatsby 5 support, as well as several performance improvements.

Have you tried using the current latest version with Gatsby 5? You will need to use `npm i --legacy-peer-deps` since both Prismic plugins only de

[2022-11-27 06:21] Primajin commented on #522
Hey @angeloashmore Thanks a lot for the info.
While `--legacy-peer-deps` seems to work fine locally it will break in GitHub CI and Gatsby Cloud - I will see if I can wield a hammer at it until it works - otherwise I'll wait for you folks 🤞🏻

Thanks a lot for this plugin and have a great holiday season!

[2022-11-28 23:37] grahamd711 commented on #514
@angeloashmore do you think you are still on track to release updated Gatsby Source Prismic by end of year? we have a large repository so the current Preview is taking considerable time to generate each time.

very are excited to hear about Slice Machine + Gatsby. appreciate your support on these great plugins, thank you!